﻿@font-face {
  font-family: 'SanFranciscoText-Regular';
  src: url("../../fonts/SanFranciscoText-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'FCBasicFont';
  src: url("../../fonts/FCBasicFont.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../../fonts/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../../fonts/Montserrat-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../../fonts/Montserrat-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Chonburi-Regular';
  src: url("../../fonts/Chonburi-Regular.ttf") format("truetype"); }
