﻿//color
$color-green-dark: #0e8c45;

$color-green-light:#289f46;

$color-green-medium:#158f4a;

$color-orange: #f7941d;

$color-yellow: YELLOW;

$color-blue-dark: #e0f0e7;
$color-blue-light: #f0f8f3 ;

$color-gray-dark: #aca69f;

$color-gray-light: #eee;

$color-white:#fff;

$color-black:#000;
$color-green-type0: #49b93c;
$color-green-type1: #158f4a;
$color-green-type2: #a9d43b;
//font
@font-face {
    font-family: 'SanFranciscoText-Regular';
    src: url('../../fonts/SanFranciscoText-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'FCBasicFont';
    src: url('../../fonts/FCBasicFont.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('../../fonts/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../../fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Chonburi-Regular';
    src: url('../../fonts/Chonburi-Regular.ttf') format('truetype');
}