﻿.breadcrumbs {
    --cssuiBreadcrumbsTextColor: var(--breadcrumbsTextColor);
    --cssuiBreadcrumbsTextColorActive: var(--breadcrumbsTextColorActive);
    --cssuiBreadcrumbsDivider: var(--breadcrumbsDivider);
    --cssuiBreadcrumbsDividerColor: var(--breadcrumbsDividerColor, inherit);
    --cssuiBreadcrumbsDividerSize: var(--breadcrumbsDividerSize, 16px);
    --cssuiBreadcrumbsIndent: var(--breadcrumbsIndent, 8px);
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs__item {
    display: inline-block;
    position: relative;
    padding-right: calc(var(--cssuiBreadcrumbsDividerSize) + var(--cssuiBreadcrumbsIndent));
    margin-right: var(--cssuiBreadcrumbsIndent);
    color: var(--cssuiBreadcrumbsTextColor);
}

    .breadcrumbs__item:after {
        content: var(--cssuiBreadcrumbsDivider);
        width: var(--cssuiBreadcrumbsDividerSize);
        height: var(--cssuiBreadcrumbsDividerSize);
        line-height: 1;
        text-align: center;
        font-size: var(--cssuiBreadcrumbsDividerSize);
        color: var(--cssuiBreadcrumbsDividerColor);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

.breadcrumbs__item_active {
    margin-right: 0;
    padding-right: 0;
    color: var(--cssuiBreadcrumbsTextColorActive);
}

    .breadcrumbs__item_active:after {
        display: none;
    }

.breadcrumbs__element {
    color: inherit;
}

a.breadcrumbs__element {
    font-weight: 700;
}

/* examples */

.breadcrumbs {
    --breadcrumbsTextColor: #345d7c;
    --breadcrumbsTextColorActive: #000;
    padding: 10px 20px;
    background: #eaeef4;
    margin-top: 10px;
}

.breadcrumbs_type1 {
    --breadcrumbsDivider: "/";
}

    .breadcrumbs_type1 .breadcrumbs__item:after {
        margin-top: 2px;
    }

.breadcrumbs_type2 {
    --breadcrumbsDivider: "→";
    --breadcrumbsDividerSize: 20px;
}

.breadcrumbs_type3 {
    --breadcrumbsDivider: "•";
    --breadcrumbsDividerSize: 2rem;
}

    .breadcrumbs_type3 .breadcrumbs__item:after {
        margin-top: 2px;
    }

.breadcrumbs_type4 {
    --breadcrumbsDivider: "|";
    --breadcrumbsDividerSize: 14px;
}

.breadcrumbs_type5 {
    --breadcrumbsDivider: "›";
    --breadcrumbsDividerSize: 20px;
}

.breadcrumbs_type6 {
    --breadcrumbsDivider: "—";
    --breadcrumbsDividerSize: 14px;
}
