﻿@import "../stylesheet/partials/_base.scss";
.mainNav {
   
  
}
/* First Level */
.mainNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.mainNav ul li a {
    color:$color-green-dark;
    display: block;
    font-size: 1.4em;
    line-height: normal;
    padding: 12px 5px;
    text-decoration: none;
}

.mainNav ul li a:hover {
   
    text-decoration: none;
}
/* Second Level */
.mainNav ul ul {
    border-bottom: none
}

.mainNav ul ul li {
    margin-left: 7rem;
    position: relative;

    &:before {
        content: "\f069";
        color: $color-green-dark;
        position: absolute;
        font-family: FontAwesome;
        top:10px;
        font-size:0.8rem;
    }
}

.mainNav ul ul li a {
    color:$color-black;
    display: block;
    font-size: 1em;
    line-height: normal;
    padding: 0.5em 1em 0.5em 3.5rem;
}

.mainNav ul ul li a:hover {
    background: $color-white;
}
/* Third Level */
.mainNav ul ul ul {
   
}

.mainNav ul ul ul li {
    border: none;
}

.mainNav ul ul ul li a {
    padding-left: 3.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}
/* Accordion Button */
ul li.has-subnav .accordion-btn {
    color: $color-green-dark;
    font-size: 16px;
}

@media screen and (max-width: 1024px) {
    .mainNav {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .mainNav {
        width: 100%;
    }
}
