﻿@import "partials/base";

/*#region ==================== DESKTOP ==================== */
/*#region Sidebar */
#sidebar {
    width: 250px;
    background-color: $main-green-color;
    height: 100%;
    border-right: 1px solid $main-green-color;
    float: left;
    position: fixed;
    z-index: 99;
    @include transition;

    .logo {
        height: 50px;
        border-bottom: 1px solid #fff;

        padding: {
            top: 5px;
            bottom: 5px;
        }

        img {
            width: 60%;
            margin-top: 5px;
        }
    }

    .menu {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            &.main-menu {
                li {
                    position: relative;
                    display: block;

                    a {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        color: $light-grey;
                        padding: 15px 35px 15px 20px;
                        @extend .no-underline;

                        svg {
                            margin-right: 10px;
                        }

                        &:hover, &.active {
                            background: $main-green-hover-color;
                        }
                    }

                    &.active {
                        a {
                            color: #fff;
                            background: $main-green-hover-color;
                        }
                    }

                    &.dropdown-li {
                        position: relative;
                        display: block;

                        .dropdown-arrow {
                            position: absolute;
                            top: 15px;
                            right: 15px;

                            .fa-caret-down {
                                transition: all 0.5s ease;
                            }
                        }

                        .sub-menu {
                            position: relative;
                            height: 0;
                            opacity: 0;
                            transition: all 0.5s ease;

                            li {
                                a {
                                    padding-left: 40px;
                                }
                            }
                        }
                    }

                    &.open {
                        .dropdown-arrow {
                            .fa-caret-down {
                                transform: rotate(180deg);
                            }
                        }

                        .sub-menu {
                            height: 100%;
                            opacity: 1;
                        }
                    }

                    &.divider {
                        border-bottom: 1px solid #fff;
                        width: 90%;

                        margin: {
                            left: 5%;
                            top: 10px;
                            bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}
/*#endregion*/

/*#region Navbar */
#navbar {
    left: 250px;
    height: 51px;
    border-bottom: 1px solid $main-green-color;
    position: absolute;
    top: 0;
    width: calc(100% - 250px);
    @include transition;

    #user-info-box {
        @include center-item(null, center);
        cursor: pointer;
        height: 50px;
        width: fit-content;
        float: right;
        padding-left: 10px;

        img {
            height: 45px;
            width: auto;
        }

        p {
            margin: {
                bottom: 0;
                left: 10px;
                right: 10px;
            }
        }

        svg {
            font-size: 16px;
            margin-right: 20px;
            color: $main-blue-dark;
        }

        &:hover {
            background: $hover-blue;
        }
    }

    #user-detail {
        position: absolute;
        right: 5px;
        top: 51px;
        width: 252px;
        -webkit-box-shadow: 0px 0px 10px 5px rgba(239,239,239,1);
        -moz-box-shadow: 0px 0px 10px 5px rgba(239,239,239,1);
        box-shadow: 0px 0px 10px 5px rgba(239,239,239,1);
        padding: 10px;
        display: none;
        z-index: 100;
        background: #fff;

        p {
            margin: 0;
        }

        #info {
            @include center-item(center, center);

            img {
                height: 80px;
                width: auto;
                margin-right: 15px;
            }

            #user-name {
                word-wrap: break-word;
                max-width: 140px;

                p {
                    font-size: 0.8em;
                    color: $main-blue-dark;
                    font-weight: 700;
                }
            }
        }

        button {
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            @extend .no-outline;

            svg {
                margin-right: 5px;
            }
        }
    }
}
/*#endregion*/

/*#region Page content */
#page-content {
    top: 50px;
    float: left;
    position: relative;
    width: calc(100% - 250px);
    left: 250px;
    padding-bottom: 30px;
    @include transition;

    .page-title-container {
        margin: {
            top: 25px;
            bottom: 25px;
        }

        .page-title {
            font-family: $quicksan-bold;
        }
    }

    .page-control-container {
        margin-bottom: 20px;
    }
}
/*#endregion*/

/*#region Pagination */
#pagination {
    padding: 5px 15px 0;


    ul {
        padding-left: 0;
        list-style: none;
        @include center-item(null, center);

        li {
            padding: 5px 10px;
            margin-right: 5px;
            background: $primary-color;
            border: 1px solid $primary-color;
            cursor: pointer;
            min-width: 35px;
            text-align: center;

            &:hover {
                background: $primary-hover-color;
                border: 1px solid $primary-hover-color;
            }

            &#first-page, &#last-page {
                display: none;
            }

            &.active {
                min-width: 40px;
                padding: 0;
                height: 40px;
                @include center-item(center, center);
                background: $pagination-hover-blue;
                border: 1px solid $pagination-hover-blue;
            }

            a {
                color: #fff;
                @extend .no-underline;
            }
        }
    }
}
/*#endregion*/

/*#region Login Page */
#login-container {
    background: url('/cp/images/login-background.jpg') 0 0 / 100% 100% no-repeat;
    @include center-item(center, center);
    @extend .full-width;

    .overlay {
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        @extend .full-width;
    }

    .login-panel {
        position: absolute;
        background: #fff;
        padding: 50px 100px;
        width: 500px
    }

    #forgot-password-form {
        display: none;
    }
}
/*#endregion*/

/*#region Form Input */
.form {
    margin-bottom: 20px;

    .header-title {
        margin: 0;
        font-weight: 700;
    }

    label {
        display: block;
    }

    input, textarea, select {
        border: 1px solid #ccc;
        padding: 10px;
        @extend .no-outline, .full-width;

        &:hover, &:focus, &:active {
            border: 1px solid #000;
        }

        &.error {
            border: 1px solid $error-color;
            color: $error-color;
            font-weight: 700;

            @include placeholder {
                color: $error-color;
                font-weight: 700;
            }

            &:hover {
                border: 1px solid $error-color;
            }
        }
    }
}

.has-floating-label {
    display: table;
    margin-top: 25px;

    .floating-label-container {
        position: relative;

        label {
            @include floating-label;

            &.floated {
                @include floated-label;
            }
        }

        input {
            &:focus, &:active, &.active {
                & + label {
                    @include floated-label;
                }
            }
        }
    }
}

.search-box-container {
    float: right;
    position: relative;
    width: 295px;

    input {
        border-radius: 50px;
        border: 1px solid #ccc;
        padding: 5px 10px;
        width: 100%;
        @extend .no-outline;
    }

    span {
        position: absolute;
        right: 10px;
        top: 5px;
    }
}
/*#endregion*/

/*#region Table */
.table-shortdesc {
    width: 250px;
}

.table-image-container {
    width: 200px;
}

.table-image {
    width: 150px;
}

.sub-table {
    display: none;
}

.manage-tab {
    width: 100px;
}
/*#endregion*/

/*#region Panel */
.panel-group {
    .panel {
        border-radius: 0;
        border: 1px solid $panel-blue;

        .panel-heading {
            background: $panel-blue;
        }

        .panel-body {
            border: none !important;
        }
    }
}
/*#endregion*/

/*#region Footer */
footer {
    position: absolute;
    width: 100%;
    bottom: 0;

    p {
        font-family: $quicksan-bold;
    }
}
/*#endregion*/

/*#region Tab panel */
.tab-pane {
    border: 1px solid #ccc;
    border-top: 0;
    padding: 25px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
/*#endregion*/
/*#endregion*/

/*#region ==================== MOBILE ==================== */
@media screen and (max-width: 468px) {
    /*#region Menu */
    .navigator-button {
        position: absolute;
        font-size: 25px;
        top: 10px;
        color: $main-blue-dark;
    }
    /*#endregion*/

    /*#region Login Page */
    #login-container {
        background: url('/cp/images/login-background.jpg') center no-repeat;
    }
    /*#endregion*/

    /*#region Sidebar */
    #sidebar {
        width: 0;
        border: 0;

        #close-menu {
            display: none;
            right: 15px;
        }

        .menu {
            ul {
                display: none;
            }
        }

        &.open {
            width: 250px;
            border-right: 1px solid $main-blue-dark;

            #close-menu {
                display: block;
            }

            .menu {
                ul {
                    display: block;
                }
            }
        }
    }
    /*#endregion*/

    /*#region Navbar */
    #navbar {
        left: 0;
        width: 100%;

        #open-menu {
            left: 15px;
            transform: scaleX(1.3);
        }
    }
    /*#endregion*/

    /*#region Page content */
    #page-content {
        width: 100%;
        left: 0;
    }
    /*#endregion*/
}
/*#endregion*/
