﻿/*#region ==================== Fonts ==================== */
@font-face {
  font-family: 'Quicksand-Bold';
  src: url("/cp/fonts/Quicksand/Quicksand-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Quicksand-Light';
  src: url("/cp/fonts/Quicksand/Quicksand-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Quicksand-Medium';
  src: url("/cp/fonts/Quicksand/Quicksand-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Quicksand-Regular';
  src: url("/cp/fonts/Quicksand/Quicksand-Regular.ttf") format("truetype"); }

/*#endregion*/
/*#region ==================== Variables ==================== */
/*#region Fonts */
/*#endregion*/
/*#region Colors */
/*#endregion*/
/*#endregion*/
/*#region ==================== Page Layout ==================== */
body {
  font-family: "Quicksand-Regular";
  margin: 0;
  overflow-x: hidden; }

img {
  height: auto; }

.width-auto {
  width: auto; }

.full-width, img, #login-container, #login-container .overlay, .form input, .form textarea, .form select {
  width: 100%; }

#updated-date {
  font-weight: 700;
  color: #e0435e; }

.m-bottom-10 {
  margin-bottom: 10px; }

/*#endregion*/
/*#region ==================== Button ==================== */
.btn {
  border-radius: 0;
  margin-bottom: 10px; }

.btn-primary {
  background-color: #5b899b;
  border-color: #5b899b; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover {
    background-color: #345d7c;
    border-color: #345d7c; }

.btn-info {
  background-color: #c695db;
  border-color: #c695db; }
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info:active:focus, .btn-info:active:hover {
    background-color: #9b57c1;
    border-color: #9b57c1; }

.btn-success {
  background-color: #6ca100;
  border-color: #6ca100; }
  .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:active:focus, .btn-success:active:hover {
    background-color: #566f0c;
    border-color: #566f0c; }

.btn-danger {
  background-color: #e0435e;
  border-color: #e0435e; }

.btn-black {
  background-color: #3d3632;
  border-color: #3d3632;
  color: #fff; }
  .btn-black:hover, .btn-black:focus, .btn-black:active, .btn-black:active:focus, .btn-black:active:hover {
    background-color: #000;
    border-color: #000;
    color: #fff; }

.btn-blue {
  background-color: #7b83af;
  border-color: #7b83af;
  color: #fff; }
  .btn-blue:hover, .btn-blue:focus, .btn-blue:active, .btn-blue:active:focus, .btn-blue:active:hover {
    background-color: #2b3064;
    border-color: #2b3064;
    color: #fff; }

.btn-pink {
  background-color: #d8b097;
  border-color: #d8b097;
  color: #fff; }
  .btn-pink:hover, .btn-pink:focus, .btn-pink:active, .btn-pink:active:focus, .btn-pink:active:hover {
    background-color: #d7a29e;
    border-color: #d7a29e;
    color: #fff; }

.btn-green {
  background-color: #c9d749;
  border-color: #c9d749;
  color: #fff; }
  .btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green:active:focus, .btn-green:active:hover {
    background-color: #7c9821;
    border-color: #7c9821;
    color: #fff; }

.btn-mint {
  background-color: #589d62;
  border-color: #589d62;
  color: #fff; }
  .btn-mint:hover, .btn-mint:focus, .btn-mint:active, .btn-mint:active:focus, .btn-mint:active:hover {
    background-color: #1a512e;
    border-color: #1a512e;
    color: #fff; }

.btn-orange {
  background-color: #fb9f40;
  border-color: #fb9f40;
  color: #fff; }
  .btn-orange:hover, .btn-orange:focus, .btn-orange:active, .btn-orange:active:focus, .btn-orange:active:hover {
    background-color: #fe8918;
    border-color: #fe8918;
    color: #fff; }

/*#endregion*/
/*#region ==================== Link ==================== */
/*#endregion*/
/*#region ==================== Textbox ==================== */
/*#endregion*/
/*#region ==================== Hover, Active, Focus Button, Link, TextBox ==================== */
.no-underline:hover, a:hover, #sidebar .menu ul.main-menu li a:hover, #pagination ul li a:hover, .no-underline:active, a:active, #sidebar .menu ul.main-menu li a:active, #pagination ul li a:active, .no-underline:focus, a:focus, #sidebar .menu ul.main-menu li a:focus, #pagination ul li a:focus, .no-underline:active:focus, a:active:focus, #sidebar .menu ul.main-menu li a:active:focus, #pagination ul li a:active:focus, .no-underline:active:hover, a:active:hover, #sidebar .menu ul.main-menu li a:active:hover, #pagination ul li a:active:hover {
  text-decoration: none; }

.no-outline:hover, .btn:hover, input:hover, #navbar #user-detail button:hover, .form textarea:hover, .form select:hover, .no-outline:active, .btn:active, input:active, #navbar #user-detail button:active, .form textarea:active, .form select:active, .no-outline:focus, .btn:focus, input:focus, #navbar #user-detail button:focus, .form textarea:focus, .form select:focus, .no-outline:active:focus, .btn:active:focus, input:active:focus, #navbar #user-detail button:active:focus, .form textarea:active:focus, .form select:active:focus, .no-outline:active:hover, .btn:active:hover, input:active:hover, #navbar #user-detail button:active:hover, .form textarea:active:hover, .form select:active:hover {
  outline: none; }

/*#endregion*/
/*#region ==================== DESKTOP ==================== */
/*#region Sidebar */
#sidebar {
  width: 250px;
  background-color: #0e8c45;
  height: 100%;
  border-right: 1px solid #0e8c45;
  float: left;
  position: fixed;
  z-index: 99;
  transition: all 0.5s ease; }
  #sidebar .logo {
    height: 50px;
    border-bottom: 1px solid #fff;
    padding-top: 5px;
    padding-bottom: 5px; }
    #sidebar .logo img {
      width: 60%;
      margin-top: 5px; }
  #sidebar .menu ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    #sidebar .menu ul.main-menu li {
      position: relative;
      display: block; }
      #sidebar .menu ul.main-menu li a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        color: #eef5ee;
        padding: 15px 35px 15px 20px; }
        #sidebar .menu ul.main-menu li a svg {
          margin-right: 10px; }
        #sidebar .menu ul.main-menu li a:hover, #sidebar .menu ul.main-menu li a.active {
          background: #289f46; }
      #sidebar .menu ul.main-menu li.active a {
        color: #fff;
        background: #289f46; }
      #sidebar .menu ul.main-menu li.dropdown-li {
        position: relative;
        display: block; }
        #sidebar .menu ul.main-menu li.dropdown-li .dropdown-arrow {
          position: absolute;
          top: 15px;
          right: 15px; }
          #sidebar .menu ul.main-menu li.dropdown-li .dropdown-arrow .fa-caret-down {
            transition: all 0.5s ease; }
        #sidebar .menu ul.main-menu li.dropdown-li .sub-menu {
          position: relative;
          height: 0;
          opacity: 0;
          transition: all 0.5s ease; }
          #sidebar .menu ul.main-menu li.dropdown-li .sub-menu li a {
            padding-left: 40px; }
      #sidebar .menu ul.main-menu li.open .dropdown-arrow .fa-caret-down {
        transform: rotate(180deg); }
      #sidebar .menu ul.main-menu li.open .sub-menu {
        height: 100%;
        opacity: 1; }
      #sidebar .menu ul.main-menu li.divider {
        border-bottom: 1px solid #fff;
        width: 90%;
        margin-left: 5%;
        margin-top: 10px;
        margin-bottom: 10px; }

/*#endregion*/
/*#region Navbar */
#navbar {
  left: 250px;
  height: 51px;
  border-bottom: 1px solid #0e8c45;
  position: absolute;
  top: 0;
  width: calc(100% - 250px);
  transition: all 0.5s ease; }
  #navbar #user-info-box {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: fit-content;
    float: right;
    padding-left: 10px; }
    #navbar #user-info-box img {
      height: 45px;
      width: auto; }
    #navbar #user-info-box p {
      margin-bottom: 0;
      margin-left: 10px;
      margin-right: 10px; }
    #navbar #user-info-box svg {
      font-size: 16px;
      margin-right: 20px;
      color: #203c4b; }
    #navbar #user-info-box:hover {
      background: #bdd8e8; }
  #navbar #user-detail {
    position: absolute;
    right: 5px;
    top: 51px;
    width: 252px;
    -webkit-box-shadow: 0px 0px 10px 5px #efefef;
    -moz-box-shadow: 0px 0px 10px 5px #efefef;
    box-shadow: 0px 0px 10px 5px #efefef;
    padding: 10px;
    display: none;
    z-index: 100;
    background: #fff; }
    #navbar #user-detail p {
      margin: 0; }
    #navbar #user-detail #info {
      display: flex;
      align-items: center;
      justify-content: center; }
      #navbar #user-detail #info img {
        height: 80px;
        width: auto;
        margin-right: 15px; }
      #navbar #user-detail #info #user-name {
        word-wrap: break-word;
        max-width: 140px; }
        #navbar #user-detail #info #user-name p {
          font-size: 0.8em;
          color: #203c4b;
          font-weight: 700; }
    #navbar #user-detail button {
      border: none;
      background: none;
      width: 100%;
      text-align: left; }
      #navbar #user-detail button svg {
        margin-right: 5px; }

/*#endregion*/
/*#region Page content */
#page-content {
  top: 50px;
  float: left;
  position: relative;
  width: calc(100% - 250px);
  left: 250px;
  padding-bottom: 30px;
  transition: all 0.5s ease; }
  #page-content .page-title-container {
    margin-top: 25px;
    margin-bottom: 25px; }
    #page-content .page-title-container .page-title {
      font-family: "Quicksand-Bold"; }
  #page-content .page-control-container {
    margin-bottom: 20px; }

/*#endregion*/
/*#region Pagination */
#pagination {
  padding: 5px 15px 0; }
  #pagination ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center; }
    #pagination ul li {
      padding: 5px 10px;
      margin-right: 5px;
      background: #5b899b;
      border: 1px solid #5b899b;
      cursor: pointer;
      min-width: 35px;
      text-align: center; }
      #pagination ul li:hover {
        background: #345d7c;
        border: 1px solid #345d7c; }
      #pagination ul li#first-page, #pagination ul li#last-page {
        display: none; }
      #pagination ul li.active {
        min-width: 40px;
        padding: 0;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #002447;
        border: 1px solid #002447; }
      #pagination ul li a {
        color: #fff; }

/*#endregion*/
/*#region Login Page */
#login-container {
  background: url("/cp/images/login-background.jpg") 0 0/100% 100% no-repeat;
  display: flex;
  align-items: center;
  justify-content: center; }
  #login-container .overlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  #login-container .login-panel {
    position: absolute;
    background: #fff;
    padding: 50px 100px;
    width: 500px; }
  #login-container #forgot-password-form {
    display: none; }

/*#endregion*/
/*#region Form Input */
.form {
  margin-bottom: 20px; }
  .form .header-title {
    margin: 0;
    font-weight: 700; }
  .form label {
    display: block; }
  .form input, .form textarea, .form select {
    border: 1px solid #ccc;
    padding: 10px; }
    .form input:hover, .form input:focus, .form input:active, .form textarea:hover, .form textarea:focus, .form textarea:active, .form select:hover, .form select:focus, .form select:active {
      border: 1px solid #000; }
    .form input.error, .form textarea.error, .form select.error {
      border: 1px solid #e0435e;
      color: #e0435e;
      font-weight: 700; }
      .form input.error::-webkit-input-placeholder, .form textarea.error::-webkit-input-placeholder, .form select.error::-webkit-input-placeholder {
        color: #e0435e;
        font-weight: 700; }
      .form input.error:-moz-placeholder, .form textarea.error:-moz-placeholder, .form select.error:-moz-placeholder {
        color: #e0435e;
        font-weight: 700; }
      .form input.error::-moz-placeholder, .form textarea.error::-moz-placeholder, .form select.error::-moz-placeholder {
        color: #e0435e;
        font-weight: 700; }
      .form input.error:-ms-input-placeholder, .form textarea.error:-ms-input-placeholder, .form select.error:-ms-input-placeholder {
        color: #e0435e;
        font-weight: 700; }
      .form input.error:hover, .form textarea.error:hover, .form select.error:hover {
        border: 1px solid #e0435e; }

.has-floating-label {
  display: table;
  margin-top: 25px; }
  .has-floating-label .floating-label-container {
    position: relative; }
    .has-floating-label .floating-label-container label {
      position: absolute;
      left: 10px;
      bottom: 5px;
      transition: all 0.5s ease-in-out;
      color: #bbb;
      font-weight: normal; }
      .has-floating-label .floating-label-container label.floated {
        font-size: 75%;
        transform: translate(-10px, -35px);
        color: #000;
        font-weight: 700; }
    .has-floating-label .floating-label-container input:focus + label, .has-floating-label .floating-label-container input:active + label, .has-floating-label .floating-label-container input.active + label {
      font-size: 75%;
      transform: translate(-10px, -35px);
      color: #000;
      font-weight: 700; }

.search-box-container {
  float: right;
  position: relative;
  width: 295px; }
  .search-box-container input {
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 100%; }
  .search-box-container span {
    position: absolute;
    right: 10px;
    top: 5px; }

/*#endregion*/
/*#region Table */
.table-shortdesc {
  width: 250px; }

.table-image-container {
  width: 200px; }

.table-image {
  width: 150px; }

.sub-table {
  display: none; }

.manage-tab {
  width: 100px; }

/*#endregion*/
/*#region Panel */
.panel-group .panel {
  border-radius: 0;
  border: 1px solid #c1dee7; }
  .panel-group .panel .panel-heading {
    background: #c1dee7; }
  .panel-group .panel .panel-body {
    border: none !important; }

/*#endregion*/
/*#region Footer */
footer {
  position: absolute;
  width: 100%;
  bottom: 0; }
  footer p {
    font-family: "Quicksand-Bold"; }

/*#endregion*/
/*#region Tab panel */
.tab-pane {
  border: 1px solid #ccc;
  border-top: 0;
  padding: 25px;
  padding-bottom: 15px;
  margin-bottom: 15px; }

/*#endregion*/
/*#endregion*/
/*#region ==================== MOBILE ==================== */
@media screen and (max-width: 468px) {
  /*#region Menu */
  .navigator-button {
    position: absolute;
    font-size: 25px;
    top: 10px;
    color: #203c4b; }
  /*#endregion*/
  /*#region Login Page */
  #login-container {
    background: url("/cp/images/login-background.jpg") center no-repeat; }
  /*#endregion*/
  /*#region Sidebar */
  #sidebar {
    width: 0;
    border: 0; }
    #sidebar #close-menu {
      display: none;
      right: 15px; }
    #sidebar .menu ul {
      display: none; }
    #sidebar.open {
      width: 250px;
      border-right: 1px solid #203c4b; }
      #sidebar.open #close-menu {
        display: block; }
      #sidebar.open .menu ul {
        display: block; }
  /*#endregion*/
  /*#region Navbar */
  #navbar {
    left: 0;
    width: 100%; }
    #navbar #open-menu {
      left: 15px;
      transform: scaleX(1.3); }
  /*#endregion*/
  /*#region Page content */
  #page-content {
    width: 100%;
    left: 0; }
  /*#endregion*/ }

/*#endregion*/
