﻿/*#region ==================== Fonts ==================== */
@font-face {
    font-family: 'Quicksand-Bold';
    src: url('/cp/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Light';
    src: url('/cp/fonts/Quicksand/Quicksand-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url('/cp/fonts/Quicksand/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('/cp/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
}
/*#endregion*/

/*#region ==================== Variables ==================== */
/*#region Fonts */
$quicksan-light: 'Quicksand-Light';
$quicksan-regular: 'Quicksand-Regular';
$quicksan-medium: 'Quicksand-Medium';
$quicksan-bold: 'Quicksand-Bold';
/*#endregion*/

/*#region Colors */
$error-color: #e0435e;

$info-color: #c695db;
$info-hover-color: #9b57c1;

$primary-color: #5b899b;
$primary-hover-color: #345d7c;

$success-color: #6ca100;
$success-hover-color: #566f0c;

$main-blue-regular: #4996b3;
$main-blue-dark: #203c4b;
$main-blue-dark-transparent: rgba(32,60,75, 0.2);

$hover-blue: #bdd8e8;

$light-grey: #eef5ee;
$dark-grey: #3d3632;

$pagination-hover-blue: #002447;

$panel-blue: #c1dee7;

$button-blue: #7b83af;
$button-blue-hover: #2b3064;

$button-pink: #d8b097;
$button-pink-hover: #d7a29e;

$button-green: #c9d749;
$button-green-hover: #7c9821;

$button-mint: #589d62;
$button-mint-hover: #1a512e;

$button-orange: #fb9f40;
$button-orange-hover: #fe8918;

// website main color
$main-green-color: #0e8c45;
$main-green-hover-color: #289f46;
/*#endregion*/
/*#endregion*/
/*#region ==================== Page Layout ==================== */
@mixin center-item($horizontal, $vertical) {
    display: flex;
    align-items: $vertical;
    justify-content: $horizontal;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }

    &:-moz-placeholder {
        @content
    }

    &::-moz-placeholder {
        @content
    }

    &:-ms-input-placeholder {
        @content
    }
}

body {
    font-family: $quicksan-regular;
    margin: 0;
    overflow-x: hidden;
}

img {
    @extend .full-width;
    height: auto;
}

.width-auto {
    width: auto;
}

.full-width {
    width: 100%;
}

#updated-date {
    font-weight: 700;
    color: $error-color;
}

.m-bottom-10 {
    margin-bottom: 10px;
}

@mixin transition {
    transition: all 0.5s ease;
}
/*#endregion*/

/*#region ==================== Button ==================== */
.btn {
    @extend .no-outline;
    border-radius: 0;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover, &:focus, &:active, &:active:focus, &:active:hover {
        background-color: $primary-hover-color;
        border-color: $primary-hover-color;
    }
}

.btn-info {
    background-color: $info-color;
    border-color: $info-color;

    &:hover, &:focus, &:active, &:active:focus, &:active:hover {
        background-color: $info-hover-color;
        border-color: $info-hover-color;
    }
}

.btn-success {
    background-color: $success-color;
    border-color: $success-color;

    &:hover, &:focus, &:active, &:active:focus, &:active:hover {
        background-color: $success-hover-color;
        border-color: $success-hover-color;
    }
}

.btn-danger {
    background-color: $error-color;
    border-color: $error-color;
}

.btn-black {
    background-color: $dark-grey;
    border-color: $dark-grey;
    color: #fff;

    &:hover, &:focus, &:active, &:active:focus, &:active:hover {
        background-color: #000;
        border-color: #000;
        color: #fff;
    }
}

.btn-blue {
    background-color: $button-blue;
    border-color: $button-blue;
    color: #fff;

    &:hover, &:focus, &:active, &:active:focus, &:active:hover {
        background-color: $button-blue-hover;
        border-color: $button-blue-hover;
        color: #fff;
    }
}

.btn-pink {
    background-color: $button-pink;
    border-color: $button-pink;
    color: #fff;

    &:hover, &:focus, &:active, &:active:focus, &:active:hover {
        background-color: $button-pink-hover;
        border-color: $button-pink-hover;
        color: #fff;
    }
}

.btn-green {
    background-color: $button-green;
    border-color: $button-green;
    color: #fff;

    &:hover, &:focus, &:active, &:active:focus, &:active:hover {
        background-color: $button-green-hover;
        border-color: $button-green-hover;
        color: #fff;
    }
}

.btn-mint {
    background-color: $button-mint;
    border-color: $button-mint;
    color: #fff;

    &:hover, &:focus, &:active, &:active:focus, &:active:hover {
        background-color: $button-mint-hover;
        border-color: $button-mint-hover;
        color: #fff;
    }
}

.btn-orange {
    background-color: $button-orange;
    border-color: $button-orange;
    color: #fff;

    &:hover, &:focus, &:active, &:active:focus, &:active:hover {
        background-color: $button-orange-hover;
        border-color: $button-orange-hover;
        color: #fff;
    }
}
/*#endregion*/

/*#region ==================== Link ==================== */
a {
    @extend .no-underline;
}
/*#endregion*/

/*#region ==================== Textbox ==================== */
input {
    @extend .no-outline;
}

@mixin floating-label {
    position: absolute;
    left: 10px;
    bottom: 5px;
    transition: all 0.5s ease-in-out;
    color: #bbb;
    font-weight: normal;
}

@mixin floated-label {
    font-size: 75%;
    transform: translate(-10px, -35px);
    color: #000;
    font-weight: 700;
}
/*#endregion*/

/*#region ==================== Hover, Active, Focus Button, Link, TextBox ==================== */
.no-underline {
    &:hover, &:active, &:focus, &:active:focus, &:active:hover {
        text-decoration: none;
    }
}

.no-outline {
    &:hover, &:active, &:focus, &:active:focus, &:active:hover {
        outline: none;
    }
}
/*#endregion*/