﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/MasterPage.master" CodeBehind="ThankyouPage.aspx.cs" Inherits="OCB.ThankyouPage" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="Server">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="box-thank text-center">
                    <h1 class="color-green-dark">COMING SOON</h1>
                </div>
            </div>
        </div>
    </div>

    <script>    
      
    </script>
</asp:Content>


