﻿@font-face {
  font-family: 'SanFranciscoText-Regular';
  src: url("../../fonts/SanFranciscoText-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'FCBasicFont';
  src: url("../../fonts/FCBasicFont.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../../fonts/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../../fonts/Montserrat-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../../fonts/Montserrat-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Chonburi-Regular';
  src: url("../../fonts/Chonburi-Regular.ttf") format("truetype"); }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html body {
  max-width: 100%;
  font-size: 1.4rem;
  overflow-x: hidden;
  font-family: Arial;
  overflow-x: hidden;
  line-height: 2; }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/font-blog/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/font-blog/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/font-blog/Roboto-Medium.ttf") format("truetype"); }

.head-content, .head-deal {
  font-family: 'Roboto-Bold'; }

.body-deal, .body-content {
  font-family: 'Roboto-Light'; }

a {
  font-family: 'Roboto-Medium';
  color: #000;
  text-decoration: none; }

.color-gray-footer {
  color: #636466;
  font-weight: bold; }

.list-menu-blog {
  font-family: 'Roboto-Medium'; }

.subscribe {
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 20px; }

.img-new-blog {
  margin-top: 30px; }
  .img-new-blog img {
    width: 100%;
    width: 100%;
    height: 100%;
    max-width: 100%; }

.img-content img {
  width: 100%;
  width: 100%;
  height: 100%;
  max-width: 100%; }

.box-blog {
  margin-top: 100px;
  background: linear-gradient(#fff 25%, #eee); }
  .box-blog .img-head-blog img {
    width: 250px;
    max-width: 100%;
    margin: 30px auto; }
  .box-blog .blog-new {
    margin-top: 60px;
    box-shadow: 4px 4px 6px #aca69f; }
  .box-blog .content-blog-new {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 10px 10px; }
    .box-blog .content-blog-new .footer-content {
      position: absolute; }
      .box-blog .content-blog-new .footer-content a {
        display: block;
        bottom: 10px; }

.box-deal {
  margin-top: 40px; }
  .box-deal .grid-container-deal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; }

.list-omni {
  padding: 30px; }

.item-grid {
  box-shadow: 1px 2px 5px #eee;
  background: #fff; }

.head-deal, .body-deal {
  padding: 20px; }

.footer-deal {
  padding: 20px; }
  .footer-deal a {
    display: block; }

.box-blog-tow {
  margin: 40px 0; }
  .box-blog-tow .grid-container {
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; }
    .box-blog-tow .grid-container .item-grid {
      box-shadow: 1px 2px 5px #eee; }

.header-footer {
  padding: 20px;
  background: #E3E9E1;
  width: 100%;
  color: #fff;
  text-align: center; }

.icon-society {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-gap: 10px;
  align-content: center;
  justify-content: center;
  list-style: none; }
  .icon-society li a img {
    width: 30px;
    height: 30px; }

.box-share {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .box-share .title-share {
    padding: 0 10px; }
  .box-share .img-circle-fb img {
    width: 30px;
    height: 30px; }

.content-blog-detail {
  padding: 30px 100px;
  text-align: justify; }
  .content-blog-detail p {
    margin: 20px; }

.img-content {
  /*display:flex;
    justify-content:center;*/
  /*img
        {
        width:50%;
        height:300px;
        max-width:100%;
    }*/ }

.img-deal {
  max-height: 244px;
  overflow: hidden; }
