﻿@import "partials/_base.scss";

.img-step-write, .img-step-check, .img-step-card {
    display: flex;
    justify-content: center;
}

.img-step-card {
   max-height: 78px;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.more {
    border: 1px solid yellow;
    padding: 5px 10px;
    border-radius: 20px;
}

.img-title-passport {
    display: flex;
    justify-content: center;
}

#table-why {
    text-align: center;

    td, th {
        padding: 20px 2px !important;
    }

    tr:nth-child(even) {
        td:nth-child(2) {
            background: $color-blue-dark;
            font-weight: bold;
        }
    }

    tr:nth-child(odd) {
        td:nth-child(2) {
            background: $color-blue-light;
            font-weight: bold;
        }
    }
}

.link-register {
    border-bottom: 1px solid $color-orange;
    display: inline;

    a {
        &:hover {
            color: #f7941d;
            text-decoration: none;
        }
    }
}

.footer-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-group {
    display: flex;
}

.btn-open, .btn-update {
    color: #fff;
    background-color: $color-orange;
    border-color: $color-orange;
    border-radius: 0 !important;
    padding: 20px 50px;
    font-size: 20px;
}

.grid-container-partner {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: flex-end;
    justify-items: center;
    grid-gap: 20px;
}

.content-footer {
    margin-top: 40px !important;
}

.box-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 20px;
}

.sl-item {
    background-image: linear-gradient(45deg,transparent 50%,green 50%),linear-gradient(135deg,green 50%,transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),100% 0;
    background-size: 10px 5px,5px 5px,2.5em 2.5em;
    background-repeat: no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #0e8c45;
    width: 100%;
    margin: 10px 5px;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid #0e8c45;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}
.sliderlogo
{
.img-logo-cs img {
    width: 340px;
    max-width: 100%;
    height: 80px;
}
.slick-prev, .slick-next {
  
    top: 50px !important;
   
}
.box-item {
    padding: 10px;
    background:$color-white !important;
}
}
.box-thank {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}
.btn-complete
{
    border-radius:0 !important;
    background:$color-orange;
    color:$color-white;
    border:none;
    margin:20px;
}
button.close {
    background: transparent !important;
}
.list-society {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    img {
        margin: 10px;
    }
}
.popup {

    .modal-content {
        background: $color-white;
        color: $color-black !important;
    }

    .modal-header {
        border: none;
    }

    button.close {
        background: transparent !important;
        color: #000;
        top: -10px;
        font-size: 4rem;
        right: 0;
    }

    .modal-footer {
        text-align: center;
    }

    .modal-body {
        text-align: center;
    }
}
.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.box-check {
    display: flex !important;
    .input-check
        {
        margin-left:20px;
    }
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-image: linear-gradient(45deg,transparent 50%,green 50%),linear-gradient(135deg,green 50%,transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),100% 0;
    background-size: 10px 5px,5px 5px,2.5em 2.5em;
    background-repeat: no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #0e8c45;
    width: 100%;
    margin: 10px 5px;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid #0e8c45;
}