﻿@font-face {
  font-family: 'SanFranciscoText-Regular';
  src: url("../../fonts/SanFranciscoText-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'FCBasicFont';
  src: url("../../fonts/FCBasicFont.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../../fonts/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../../fonts/Montserrat-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../../fonts/Montserrat-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Chonburi-Regular';
  src: url("../../fonts/Chonburi-Regular.ttf") format("truetype"); }

.img-step-write, .img-step-check, .img-step-card {
  display: flex;
  justify-content: center; }

.img-step-card {
  max-height: 78px; }

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center; }

.more {
  border: 1px solid yellow;
  padding: 5px 10px;
  border-radius: 20px; }

.img-title-passport {
  display: flex;
  justify-content: center; }

#table-why {
  text-align: center; }
  #table-why td, #table-why th {
    padding: 20px 2px !important; }
  #table-why tr:nth-child(even) td:nth-child(2) {
    background: #e0f0e7;
    font-weight: bold; }
  #table-why tr:nth-child(odd) td:nth-child(2) {
    background: #f0f8f3;
    font-weight: bold; }

.link-register {
  border-bottom: 1px solid #f7941d;
  display: inline; }
  .link-register a:hover {
    color: #f7941d;
    text-decoration: none; }

.footer-form {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.box-group {
  display: flex; }

.btn-open, .btn-update {
  color: #fff;
  background-color: #f7941d;
  border-color: #f7941d;
  border-radius: 0 !important;
  padding: 20px 50px;
  font-size: 20px; }

.grid-container-partner {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: flex-end;
  justify-items: center;
  grid-gap: 20px; }

.content-footer {
  margin-top: 40px !important; }

.box-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px; }

.sl-item {
  background-image: linear-gradient(45deg, transparent 50%, green 50%), linear-gradient(135deg, green 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 10px 5px,5px 5px,2.5em 2.5em;
  background-repeat: no-repeat;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: #0e8c45;
  width: 100%;
  margin: 10px 5px;
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid #0e8c45; }

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block; }

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold; }

.sliderlogo .img-logo-cs img {
  width: 340px;
  max-width: 100%;
  height: 80px; }

.sliderlogo .slick-prev, .sliderlogo .slick-next {
  top: 50px !important; }

.sliderlogo .box-item {
  padding: 10px;
  background: #fff !important; }

.box-thank {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50vh; }

.btn-complete {
  border-radius: 0 !important;
  background: #f7941d;
  color: #fff;
  border: none;
  margin: 20px; }

button.close {
  background: transparent !important; }

.list-society {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px; }
  .list-society img {
    margin: 10px; }

.popup .modal-content {
  background: #fff;
  color: #000 !important; }

.popup .modal-header {
  border: none; }

.popup button.close {
  background: transparent !important;
  color: #000;
  top: -10px;
  font-size: 4rem;
  right: 0; }

.popup .modal-footer {
  text-align: center; }

.popup .modal-body {
  text-align: center; }

.modal {
  text-align: center;
  padding: 0 !important; }

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

.box-check {
  display: flex !important; }
  .box-check .input-check {
    margin-left: 20px; }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-image: linear-gradient(45deg, transparent 50%, green 50%), linear-gradient(135deg, green 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 10px 5px,5px 5px,2.5em 2.5em;
  background-repeat: no-repeat;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  color: #0e8c45;
  width: 100%;
  margin: 10px 5px;
  padding: 10px 5px;
  border: none;
  border-bottom: 1px solid #0e8c45; }
