﻿.select-item {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: #0e8c45;
    color: white;
    width: 100%;
    margin-left: 15px;
    max-height: 200px;
    overflow-y: scroll;
}

    .select-item ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .select-item li {
        font-size: 20px;
        padding: 5px;
        padding-left: 20px;
    }

        .select-item li:hover {
            background-color: #14cb62;
            margin: 0;
        }

.nopadding {
    padding: 0;
}

input {
    padding: 30px;
    background: none;
    box-shadow: none !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: none;
}
