﻿.select-item {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: #0e8c45;
    color: white;
    width: 100%;
    margin-left: -15px;
    max-height: 200px;
    overflow-y: scroll;
}

    .select-item ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .select-item li {
        font-size: 16px;
        padding: 5px;
        padding-left: 20px;
        border-bottom:1px solid #fff;
    }

        .select-item li:hover {
            background-color: #ffa500; margin: 0;
        }

.nopadding {
    padding: 0;
}
