﻿/*FORM*/
.form-box {
  position: relative;
  display: inline-block;
  width: 90%;
  max-width: 800px;
  height: auto;
  margin-bottom: -130px;
  background-color: #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  text-align: center; }

.require-col {
  position: relative;
  display: block;
  width: 100%;
  height: auto; }

.input-text, .input-select, .input-des {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 0 10px 0; }

.input-des p {
  margin: 30px 0 0 0;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #1b8d3f;
  line-height: 1.6;
  text-align: left; }

.input-but {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 20px 0;
  text-align: center;
  /*border-top:1px solid #ccc;*/
  padding: 20px 0;
  float: left; }

.input-but button[type="submit"] {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: 76px;
  line-height: 1.2;
  padding: 0 20px;
  background-color: #e39717;
  border: none;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  -webkit-appearance: none;
  cursor: pointer;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: right;
  z-index: 1; }

.input-but button[type="submit"]:hover {
  background-color: #008c44; }

.input-but button[type="submit"]::before {
  content: '';
  position: absolute;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border: 1px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px; }

.input-area {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 1;
  clear: both;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.input-area textarea {
  width: 100%;
  height: 80px;
  padding: 20px;
  border: 1px solid #008b44;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #008b44;
  resize: none;
  overflow: auto;
  -webkit-appearance: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0); }

.input-area textarea:focus {
  background-color: #008b44;
  color: #fff; }

.form-box .col-50-left, .form-box .col-50-right {
  width: calc(50% - 10px); }

.checkbox {
  position: relative;
  display: block;
  width: 100%;
  height: auto; }

.input-checkbox {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.input-checkbox input[type="checkbox"] {
  height: 30px;
  width: 30px;
  left: 0;
  top: 10px;
  margin: 0;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1; }

.checkmark {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border: 1px solid #008b44;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0; }

.checkmark:after {
  content: "";
  left: 9px;
  top: 2px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  display: none; }

.input-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
  display: block; }

.input-checkbox input[type="checkbox"]:checked ~ .checkmark {
  background-color: #e39717;
  border-color: #e39717; }

.other-check {
  height: auto; }

.input-checkbox input[type="checkbox"]:checked ~ .input-area {
  height: 82px; }

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  vertical-align: top; }

.input-field {
  position: relative;
  display: block;
  float: right;
  border: none;
  -webkit-appearance: none;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  font-size: 16px; }

.input-field:focus {
  outline: none; }

.input-label {
  display: inline-block;
  color: #008b44;
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.input-label-content {
  position: relative;
  display: block;
  padding: 10px 0;
  width: 100%; }

/* Jiro */
.input-jiro {
  margin-top: 10px; }

.input-field-jiro {
  padding: 0 20px;
  height: 50px;
  width: 100%;
  background: transparent;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.input-label-jiro {
  position: absolute;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none; }

.input-label-content-jiro {
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s; }

.input-label-jiro::before, .input-label-jiro::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s; }

.input-label-jiro::before {
  border-top: 1px solid #008b44;
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; }

.input-label-jiro::after {
  z-index: -1;
  background: #008b44;
  -webkit-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%; }

.input-field-jiro:focus, .input-filled .input-field-jiro {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; }

.input-field-jiro:focus + .input-label-jiro .input-label-content-jiro, .input-filled .input-label-content-jiro {
  -webkit-transform: translate3d(0, -80%, 0);
  transform: translate3d(0, -80%, 0);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.input-field-jiro:focus + .input-label-jiro::before, .input-filled .input-label-jiro::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.input-field-jiro:focus + .input-label-jiro::before, .input-filled .input-label-jiro::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.input-field-jiro:focus + .input-label-jiro::after, .input-filled .input-label-jiro::after {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.input-jiro.input-filled {
  margin-top: 30px; }
