﻿/* CSS Document */

/* Copyright 2018 by 3graphic.com */


/*INFO FOOTER*/
.footer-info {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 2
}

.bank-info {
    width: auto;
    height: auto;
    position: relative;
    display: block;
    margin: 30px auto;
    text-align: center
}

    .bank-info .title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 30px;
        line-height: 1.2;
        color: #008b44;
        text-transform: uppercase;
    }

    .bank-info p {
        font-size: 15px;
        line-height: 1.6;
        color: #008b44;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        display: block;
        margin: 10px 0;
    }




/*HOTLINE*/
.hotline {
    position: relative;
    top: -10px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    width: auto;
    height: auto;
    text-align: center;
    cursor: pointer;
    z-index: 10
}

    .hotline a {
        display: block;
        width: 100%;
        height: 100%
    }

.call-number {
    width: auto;
    position: relative;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    color: #e39717;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .call-number span {
        font-weight: 300;
        color: #b0b0b0;
        font-size: 16px;
        line-height: 1;
        display: block;
        text-align: center
    }

.hotline .call {
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: -1
}

    .hotline .call::before {
        content: "";
        background: url(../images/icon/hotline.png) no-repeat center top;
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }

    .hotline .call::after {
        content: "";
        background: url(../images/icon/hotline.png) no-repeat center bottom;
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
    }

.hotline:hover .call-number {
    color: #008c44;
}

.hotline:hover .call::before {
    opacity: 0;
}

.hotline:hover .call::after {
    opacity: 1;
}


/*NAVIGATION*/
.navigation {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
    line-height: 70px;
    text-align: center;
    z-index: 15
}

.nav {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    vertical-align: middle
}

    .nav li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin: 0 15px;
        cursor: pointer
    }

        .nav li a {
            position: relative;
            display: block;
            width: auto;
            height: auto;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 15px;
            color: #787878;
            text-transform: uppercase;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out
        }

        .nav li.current a, .nav li:not(.current):hover a {
            color: #008b44
        }

        .nav li.current::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1
        }

.consult-box {
    position: absolute;
    right: 0;
    top: 0;
    width: 230px;
    height: 70px;
    line-height: 70px;
    padding: 0 20px 0 15px;
    background-color: #008c44;
    text-align: center;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 30
}

.consult-text {
    display: inline-block;
    padding: 5px 0 5px 50px;
    background: url(../images/consult-icon.png) no-repeat left center;
    text-align: left;
    vertical-align: middle;
    line-height: 1.2;
}

.consult-box:hover {
    color: #e29616
}

.consult-mess {
    position: fixed;
    right: 10px;
    top: 80px;
    width: 340px;
    height: auto;
    padding: 30px 30px 10px 30px;
    background-color: #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.1);
    -webkit-transform: translate3d(0,-500px,0);
    transform: translate3d(0,-500px,0);
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    z-index: 14;
    display: none
}

    .consult-mess p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.6;
        color: #008c44;
        margin-bottom: 20px
    }

        .consult-mess p strong {
            font-weight: 700
        }

.consult-close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 35px;
    height: 35px;
    background: url(../images/close1.svg) no-repeat center center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.consult-mess.show {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.consult-close:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}



/*TILTE PAGE*/
.title-page {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    right: auto;
    top: 20px;
    text-align: center;
    padding: 20px;
    display: block;
    opacity: 0;
    z-index: 15;
}

    .title-page.show {
        opacity: 1;
    }

    .title-page h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 62px;
        line-height: 1.2;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        position: relative;
        display: block;
        text-shadow: 1px 1px 0 rgba(0,0,0,0.3)
    }

        .title-page h1 > span > span {
            -webkit-transition: all 800ms ease;
            transition: all 800ms ease;
            opacity: 0
        }

            .title-page h1 > span > span.move {
                opacity: 1;
            }



/*SUB-INNER*/
.sub-inner {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    margin: 0;
    background-color: #008b44;
    border-top: 1px solid #fff;
    -webkit-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
}

    .sub-inner ul {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        text-align: center;
        white-space: nowrap;
        list-style: none
    }

    .sub-inner li {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: auto;
        height: auto;
        margin: 0 -1px;
        padding: 0 25px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        -webkit-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer
    }

        .sub-inner li.current {
            background-color: #e29617
        }

        .sub-inner li::before {
            content: '';
            position: absolute;
            left: 7px;
            top: 7px;
            width: calc(100% - 14px);
            height: calc(100% - 14px);
            opacity: 0;
            border: 1px solid rgba(255,255,255,1);
            -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out
        }

        .sub-inner li.current, .sub-inner li:not(.current):hover {
            background-color: #e29617
        }

            .sub-inner li.current::before, .sub-inner li:not(.current):hover::before {
                opacity: 1
            }

    .sub-inner.fixed {
        position: fixed;
        left: 0;
        top: 70px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);
        z-index: 5
    }


/*BUTTON*/
.outer-but {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 40px 0
}

    .outer-but a {
        position: relative;
        display: inline-block;
        padding: 14px 25px;
        vertical-align: top;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        -webkit-border-radius: 50px;
        border-radius: 50px;
    }

        .outer-but a span {
            position: relative;
            z-index: 1
        }

        .outer-but a::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            -webkit-border-radius: 50px;
            border-radius: 50px;
            opacity: 0;
            -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out
        }

        .outer-but a::after {
            content: '';
            position: absolute;
            left: -10px;
            top: -10px;
            width: calc(100% + 20px);
            height: calc(100% + 20px);
            -webkit-border-radius: 50px;
            border-radius: 50px;
        }

        .outer-but a.confirm-address::after {
            content: none
        }

        .outer-but a.orange {
            background: -webkit-linear-gradient(90deg, rgb(255, 114, 0) 0%, rgb(255, 194, 14) 100%);
            background: linear-gradient(90deg, rgb(255, 114, 0) 0%, rgb(255, 194, 14) 100%);
        }

            .outer-but a.orange::before {
                background: -webkit-linear-gradient(90deg, rgb(255, 194, 14) 0%, rgb(255, 114, 0) 100%);
                background: linear-gradient(90deg, rgb(255, 194, 14) 0%, rgb(255, 114, 0) 100%);
            }

            .outer-but a.orange::after {
                border: 1px solid #e2981a
            }

        .outer-but a.green {
            background: -webkit-linear-gradient(90deg, rgb(14, 187, 115) 0%, rgb(0, 129, 75) 100%);
            background: linear-gradient(90deg, rgb(14, 187, 115) 0%, rgb(0, 129, 75) 100%);
        }

            .outer-but a.green::before {
                background: -webkit-linear-gradient(90deg, rgb(0, 129, 75) 0%, rgb(14, 187, 115) 100%);
                background: linear-gradient(90deg, rgb(0, 129, 75) 0%, rgb(14, 187, 115) 100%);
            }

            .outer-but a.green::after {
                border: 1px solid #008b44
            }

        .outer-but a.white-orange {
            background: -webkit-linear-gradient(90deg, rgb(255, 114, 0) 0%, rgb(255, 194, 14) 100%);
            background: linear-gradient(90deg, rgb(255, 114, 0) 0%, rgb(255, 194, 14) 100%);
        }

            .outer-but a.white-orange::before {
                background: -webkit-linear-gradient(90deg, rgb(255, 194, 14) 0%, rgb(255, 114, 0) 100%);
                background: linear-gradient(90deg, rgb(255, 194, 14) 0%, rgb(255, 114, 0) 100%);
            }

            .outer-but a.white-orange::after {
                border: 1px solid #fff
            }

        .outer-but a.white-green {
            background: -webkit-linear-gradient(90deg, rgb(14, 187, 115) 0%, rgb(0, 129, 75) 100%);
            background: linear-gradient(90deg, rgb(14, 187, 115) 0%, rgb(0, 129, 75) 100%);
        }

            .outer-but a.white-green::before {
                background: -webkit-linear-gradient(90deg, rgb(0, 129, 75) 0%, rgb(14, 187, 115) 100%);
                background: linear-gradient(90deg, rgb(0, 129, 75) 0%, rgb(14, 187, 115) 100%);
            }

            .outer-but a.white-green::after {
                border: 1px solid #fff
            }

        .outer-but a:hover::before {
            opacity: 1
        }

.main-pic .outer-but {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 10%;
    padding: 5% 0;
    text-align: center;
    z-index: 10
}

    .main-pic .outer-but a {
        background: linear-gradient(270deg, #ff7200, #ffc20e, #008c44);
        background-size: 400% 400%;
    }

/*SELECT LIST*/
.select-list {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #008b44;
    float: left;
    margin-top: 9px;
    margin-bottom: 11px
}

.select-header {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    color: #1b8d3f;
    cursor: pointer;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out
}

    .select-header::before {
        content: '';
        position: absolute;
        right: -16px;
        top: 0;
        display: block;
        width: 50px;
        height: 50px;
        background: url(../images/select.png) no-repeat center center;
        z-index: 2;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out
    }

    .select-header h3 {
        display: block;
        padding: 0;
        font-weight: 400;
        font-size: 16px;
        color: inherit;
        line-height: 40px;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

.select-box {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: auto;
    padding-top: 50px;
    z-index: 50
}

    .select-box ul {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        font-size: 0;
        padding: 0;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
        list-style: none
    }

    .select-box li {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        background-color: #1b8d3f;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        border-bottom: 1px solid #dedede
    }

        .select-box li a {
            display: block;
            width: 100%;
            height: auto;
        }

        .select-box li h3 {
            display: block;
            padding: 10px 20px;
            font-size: 16px;
            line-height: 20px;
            font-weight: normal;
            color: #fff;
            text-align: left;
            font-weight: 700;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out
        }

        .select-box li.selected {
            background-color: #e39717
        }

        .select-box li:not(.selected):hover {
            background-color: #eee
        }

        .select-box li.selected h3 {
            color: #fff
        }

        .select-box li.selected:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%
        }

        .select-box li:not(.selected):hover {
            background-color: #e39717
        }

            .select-box li:not(.selected):hover h3 {
                color: #fff
            }

.scrollB {
    position: relative;
    width: 100%;
    height: 280px;
    overflow-x: hidden;
    overflow-y: auto
}


/*LANDING PAGE*/
.section-content {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    z-index: 2
}

.content-lenght {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    float: left;
    z-index: 3;
}

    .content-lenght h2 {
        font-weight: 700;
        font-size: 48px;
        line-height: 1.2;
        text-transform: uppercase
    }

        .content-lenght h2 span {
            color: #e39717
        }

.document-center {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    float: left;
    margin: 0;
}

.content-text {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
}

.content-title {
    position: relative;
    display: block;
    width: 100%;
    height: auto
}

.content-inr {
    position: relative;
    display: block;
    width: 100%;
    height: auto
}

.title-box {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding: 60px 5%
}

    .title-box h2 {
        font-size: 52px;
        text-align: center
    }

    .title-box h3 {
        font-size: 42px;
        text-align: center
    }

.has-sub {
    padding-top: 80px
}


/*ACCOUNT ONLINE*/
/*accont info*/
.bg-full {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100vh - 70px)
}

.main-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.account-info h2 {
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    color: #fff;
    text-align: center;
    z-index: 1
}

.main-pic {
    position: absolute;
    bottom: 2%;
    right: 1%;
    width: auto;
    height: 88%;
    z-index: 1
}

    .main-pic img {
        height: 100%;
        width: auto
    }


/*accont promotion*/
.account-promotion > h2 {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto 30px auto;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}

    .account-promotion > h2 span, .account-promotion > h2 strong {
        font-weight: 700
    }

    .account-promotion > h2 span {
        display: block
    }

.account-promotion {
    padding: 60px 0 30px 0
}

    .account-promotion .content-text {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto
    }

.account-list {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 30px 0;
    margin: 0 0 30px 0
}

    .account-list li {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: auto;
        height: auto;
        margin: 20px 40px
    }

        .account-list li::after {
            content: '';
            width: 120%;
            height: 120%;
            position: absolute;
            left: -10%;
            top: -10%;
            border: 1px solid #eee;
            -webkit-border-radius: 30px;
            border-radius: 30px;
            box-shadow: 0 20px 30px 0 rgba(0,0,0,0.1)
        }

.icon {
    display: inline-block;
    width: 80px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px
}

    .icon img {
        display: block;
        width: 100%;
        height: auto
    }

.account-list li p {
    display: inline-block;
    width: auto;
    max-width: 200px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4e4e4e;
    line-height: 1.4;
    text-align: left;
    vertical-align: middle
}

.account-list li span:not(.icon) {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.2;
    display: block
}

.other-promotion {
    position: relative;
    display: block;
    width: 100%;
    height: auto
}

    .other-promotion h2 {
        font-size: 36px;
        text-align: center
    }

    .other-promotion .outer-but {
        text-align: center
    }

/*accont event*/
.account-event {
    text-align: right
}

    .account-event .bg-background {
        background-attachment: fixed
    }

    .account-event .content-text {
        display: inline-block;
        max-width: 700px;
        text-align: center;
        margin-right: 10%;
        padding: 12% 0
    }

    .account-event h2 {
        color: #fff;
        margin-bottom: 30px
    }

    .account-event p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.6;
        color: #fff;
        margin-bottom: 20px
    }

        .account-event p:last-child {
            margin: 0
        }

.event-pic {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    line-height: 0;
    overflow: hidden;
    padding: 30px 0 0 0
}

    .event-pic img {
        position: relative;
        display: block;
        width: 100%;
        height: auto
    }




/*PROMOTION*/
.promotion-info {
    text-align: right
}

    .promotion-info .content-text {
        display: inline-block;
        max-width: 700px;
        text-align: left;
        margin-right: 10%;
        padding: 12% 0
    }

    .promotion-info h3 {
        font-size: 48px;
        color: #fff;
        margin-bottom: 20px
    }

    .promotion-info .content-inr {
        display: inline-block;
        width: auto;
        max-width: 70%;
        margin: 10px 0;
        padding: 20px 0;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff
    }

    .promotion-info p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        color: #fff;
        margin-bottom: 20px
    }

        .promotion-info p:last-child {
            margin: 0
        }

    .promotion-info .outer-but {
        text-align: left
    }

        .promotion-info .outer-but a {
            margin-right: 30px
        }



/*DIGITAL*/
.digital-pic {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100vw * 0.5);
    max-height: calc(100vh - 70px);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.omni-box {
    position: relative;
    display: block;
    width: 100%;
    height: auto
}

.omni-slider {
    position: relative;
    display: block;
    width: 100%;
    height: auto
}

.omni-item {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    text-align: right;
    height: calc(1125/2000 * 100vw);
    max-height: calc(100vh - 70px);
    overflow: hidden
}

    .omni-item::before, .omni-item::after {
        content: '';
        position: relative;
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle
    }

    .omni-item .content-text {
        display: inline-block;
        max-width: 700px;
        text-align: center;
        margin-right: 10%;
        vertical-align: middle
    }

    .omni-item .content-inr {
        display: inline-block;
        max-width: 80%;
        margin: 30px 0 10px 0;
        padding: 20px 0
    }

        .omni-item .content-inr::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            width: 120px;
            height: 1px;
            background-color: #fff;
            margin: 0 0 0 -60px
        }

    .omni-item h2 {
        color: #fff;
        margin-bottom: 30px;
        font-size: 26px;
        line-height: 1.4
    }

    .omni-item p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.6;
        color: #fff;
        margin-bottom: 20px
    }

        .omni-item p:last-child {
            margin: 0
        }

.omni-box .slide-controls, .omni-slider .slide-buttons {
    position: static;
    height: auto;
    left: auto;
    top: auto
}

.omni-slider .slide-prev {
    position: absolute;
    top: 50%;
    left: 30px;
    margin: -60px 0 0 0
}

.omni-slider .slide-next {
    position: absolute;
    top: 50%;
    right: 30px;
    margin: -60px 0 0 0
}

.omni-slider .slide-pagination {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 10px;
    left: 0
}


.digital-box {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0 0 100px 0;
    z-index: 1
}

.digital-top {
    position: relative;
    display: block;
    width: 100%;
    height: auto
}

.head-box {
    position: relative;
    display: block;
    width: 90%;
    height: auto;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0
}

.head-slider, .head-item {
    position: relative;
    display: block;
    width: 100%;
    height: auto
}

    .head-item h2 {
        font-weight: 700;
        text-align: center;
        opacity: 0
    }

.selected .head-item h2 {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


.consult {
    background: -webkit-linear-gradient(0deg, rgb(227, 151, 23) 0%, rgb(0, 140, 68) 100%);
    background: linear-gradient(0deg, rgb(227, 151, 23) 0%, rgb(0, 140, 68) 100%);
    text-align: center
}

    .consult .content-text {
        max-width: 840px;
        margin: 0 auto;
        padding: 90px 0 30px 0
    }

        .consult .content-text h2 {
            font-size: 32px;
            color: #fff;
            margin-bottom: 30px
        }

        .consult .content-text p {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.6;
            color: #fff;
            margin: 0 auto 20px auto;
            max-width: 500px
        }

.digital-mid {
    position: relative;
    display: inline-block;
    width: 352px;
    height: 648px;
    vertical-align: top
}

.digital-pics {
    position: absolute;
    top: 51px;
    left: 37px;
    display: block;
    width: 100%;
    width: calc(100% - 89px);
    height: calc(100% - 104px)
}

.digital-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    pointer-events: none
}

.digital-slider {
    position: relative;
    display: block;
    width: 100%;
    height: 100%
}

    .digital-slider .slide-wrapper-outer, .digital-slider .slide-wrapper {
        height: 100%
    }

    .digital-slider .slide-item {
        height: 100%
    }

.digital-item {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 30px
}

.digital-bot {
    position: relative;
    display: inline-block;
    width: 60%;
    max-width: 520px;
    min-height: 648px;
    vertical-align: top
}

.digital-info, .info-slider, .info-item {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.digital-info {
    padding: 30px 0
}

    .digital-info .slide-item {
        padding: 0 0 0 30px
    }

.info-item {
    position: relative;
    padding: 40px;
    background: -webkit-linear-gradient(90deg, rgb(255,160,0) 0%, rgb(198,124,0) 100%);
    background: linear-gradient(90deg, rgb(255,160,0) 0%, rgb(198,124,0) 100%);
    opacity: 0
}

    .info-item::after {
        content: '';
        position: absolute;
        right: 100%;
        top: 50%;
        margin-top: -25px;
        border: 25px solid #ffa000;
        border-top: 25px solid transparent !important;
        border-left: 0 !important;
        border-bottom: 25px solid transparent !important;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

.selected .info-item {
    -webkit-animation-name: goRight;
    animation-name: goRight;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.info-item::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border: 1px solid #fff
}

.info-item p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
    margin: 0 0 15px 0;
    text-align: left
}

    .info-item p:last-child {
        margin: 0
    }

.utilities {
    position: absolute;
    left: 0;
    bottom: 32px;
    display: block;
    width: 100%;
    height: auto;
}

    .utilities .outer-but {
        padding: 0;
        margin: 0 0 0 5px
    }

.utilities-top, .utilities-bot {
    position: relative;
    display: block;
    width: 100%;
    height: auto
}

.utilities ul {
    display: block;
    width: 100%;
    height: auto;
    list-style: none;
    overflow: hidden;
    padding: 10px 0
}

.utilities-top li:nth-child(1) {
    float: left;
    width: 40%;
    text-align: left;
    padding-left: 10px
}

.utilities-top li:nth-child(2) {
    float: right;
    width: 60%;
    text-align: right
}

.utilities-bot li {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
    float: left;
    margin: 0 2px 0 0
}

    .utilities-bot li a {
        display: block;
        width: 100%;
        height: auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out
    }

        .utilities-bot li a img {
            display: block;
            width: 100%;
            height: auto
        }

    .utilities-bot li:nth-child(1) a {
        display: block;
        width: 100%;
        height: 69px;
        background-color: #e29617;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #fff;
        text-align: center;
        line-height: 1.4;
        text-align: center;
        padding: 10px;
        text-transform: uppercase
    }

    .utilities-bot li:nth-child(1) {
        width: calc(100% - 264px)
    }

    .utilities-bot li:nth-child(3) {
        margin: 0
    }

    .utilities-bot li:nth-child(1) a:hover {
        background-color: #008c44
    }

    .utilities-bot li:nth-child(2) a:hover, .utilities-bot li:nth-child(3) a:hover {
        opacity: 0.5
    }

.digital-nav {
    position: absolute;
    left: 0;
    bottom: -20px;
    display: block;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 15px 0;
}

    .digital-nav ul {
        display: inline-block;
        width: auto;
        height: auto
    }

    .digital-nav li {
        position: relative;
        display: inline-block;
        width: 18px;
        height: 6px;
        margin: 0 6px;
        background-color: #aeaeae;
        vertical-align: top;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out
    }

        .digital-nav li::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 12px;
            left: -3px;
            top: -3px;
            border: 1px solid #ec9400;
            opacity: 0;
            -webkit-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out
        }

        .digital-nav li.current, .digital-nav li:not(.current):hover {
            background-color: #ec9400
        }

            .digital-nav li.current::before, .digital-nav li:not(.current):hover::before {
                opacity: 1
            }


/*VIDEO HOME*/
.pic-video {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    z-index: 2
}

    .pic-video.hide {
        opacity: 0;
        z-index: -1
    }

.box-video-center {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 10
}

.video-cover {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    background-color: #c0a072
}

.video-full {
    background-color: transparent;
    min-width: 100%;
    min-height: 100vh;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
}

.video-cover .overlay {
    background: -webkit-radial-gradient(circle farthest-corner at center center, rgba(129, 119, 54, 0) 0%, rgba(33, 69, 61, 0.5) 100%);
    background: radial-gradient(circle farthest-corner at center center, rgba(129, 119, 54, 0) 0%, rgba(33, 69, 61, 0.5) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    mix-blend-mode: overlay
}

.player-vid {
    background: url(../images/play2.png) no-repeat center center;
    width: 140px;
    height: 140px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -70px 0 0 -70px;
    background-color: rgba(0,0,0,0.1);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0;
    z-index: 99999;
}

    .player-vid:hover {
        background-color: rgba(0,0,0,0.3);
    }

    .player-vid.hide {
        display: none;
        opacity: 0
    }

    .player-vid.show {
        display: block;
        opacity: 1
    }


/*SLIDE FULL HOME*/
.box-slider {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    z-index: 1
}

.group-central {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(0px,100%);
    transform: translate(0px,100%);
    overflow: hidden
}

    .group-central.show-text {
        z-index: 1
    }

    .group-central:first-child {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }


/*COLOR BACKGROUND*/
.bg-grey {
    background-color: #f1f1f1
}

.bg-grey-dark {
    background-color: #e2e2e2
}

.bg-grey-green {
    background-color: #dae3de
}

.bg-white-green {
    background-color: #e2ecc7
}

.bg-white-orange {
    background-color: #e9dfcf
}

.bg-orange {
    background-color: #e39717
}

.bg-green {
    background-color: #008c44
}

.bg-white {
    background-color: #fff
}

.bg-gradient-green {
    background: -webkit-linear-gradient(180deg, #00814b 0%, #0ebb73 100%);
    background: linear-gradient(180deg, #00814b 0%, #0ebb73 100%);
}

.bg-gradient-orange {
    background: -webkit-linear-gradient(180deg, #f3a82b 0%, #af7615 100%);
    background: linear-gradient(180deg, #f3a82b 0%, #af7615 100%);
}

.bg-gradient-mix {
    background: -webkit-linear-gradient(180deg, #e39717 0%, #008c44 100%);
    background: linear-gradient(180deg, #e39717 0%, #008c44 100%);
}

.bg-gradient-yellow {
    background: -webkit-linear-gradient(180deg,#eae6c3 0%, #ffffff 100%);
    background: linear-gradient(180deg, #eae6c3 0%, #ffffff 100%);
}

.bg-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: -1
}

.white {
    color: #fff
}

.green {
    color: #008b44
}

.orange {
    color: #e39717
}

.grey {
    color: #383838
}

    .grey a {
        color: #e39717
    }

.green a, .orange a {
    color: #fff
}

    .green a:hover, .orange a:hover {
        color: #ddd
    }

.grey a:hover {
    color: #383838
}





/*DETAILS CONTENT*/
.details-content {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    text-align: center;
    overflow-x: hidden;
    z-index: 3000;
}

    .details-content > span {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1
    }

.details-center {
    position: relative;
    display: inline-block;
    width: 90%;
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    opacity: 0;
    z-index: 5;
}

    .details-center h3 {
        color: #006339;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.4;
        text-align: center;
        text-transform: uppercase;
        display: block;
        padding: 30px 5%;
        background-color: #f1f1f1
    }

.details-outer {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    padding: 30px 5%;
    background-color: #fff;
}

.details-text {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 0 30px 0;
    display: block;
    border-bottom: 1px dotted #003768;
    font-size: 15px;
    line-height: 1.6;
    color: #424242;
    text-align: left
}

    .details-text p {
        margin: 0 0 15px 0;
    }

        .details-text img, .details-text p img {
            display: block;
            width: auto;
            height: auto;
            max-width: 100%;
            margin: 0 auto;
        }

    .details-text ol, .details-text ul {
        text-align: left;
        list-style: inherit;
        -webkit-margin-start: 16px
    }

        .details-text ol li, .details-text li, .details-text p span, .details-text span {
            text-align: left;
            margin: 5px 0;
            font-size: inherit;
            font-weight: inherit;
            color: inherit;
        }

    .details-text a {
        color: #e39717;
        font-weight: 700;
        -webkit-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out;
    }

        .details-text a:hover {
            color: #424242;
        }

    .details-text table {
        display: inline-block;
        width: auto;
        max-width: 100%;
        border-spacing: 1px;
        border-spacing: 1px;
        margin: 20px auto;
        table-layout: fixed;
    }

        .details-text table th, .details-text table td {
            padding: 10px 15px;
            line-height: 1.4;
        }

.download-but {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #e39717;
    padding: 10px 50px 10px 20px;
    text-align: center;
    margin: 20px 0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
    z-index: 10
}

    .download-but a {
        display: block;
        font-family: 'Montserrat',sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.2;
        color: #fff;
        text-align: left;
    }

        .download-but a strong {
            font-size: 30px;
            font-weight: 700;
            display: block;
            text-transform: uppercase
        }

    .download-but span {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        top: 50%;
        margin: -15px 0 0 0;
        background: #fff url(../images/list.png) no-repeat center center / contain;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: margin 0.3s ease-in-out;
        transition: margin 0.3s ease-in-out;
    }

    .download-but:hover {
        background-color: #008c44
    }

        .download-but:hover span {
            margin: 0
        }

.confirm-add-box.input-text {
    margin-top: 20px;
}

.confirm-add-box .outer-but {
    padding: 20px 0 5px;
}

.confirm-add-box .input-label {
    line-height: 24px;
}

#box-thuong-tru.hide {
    display: none;
}

#box-thuong-tru.show {
    display: block;
}





/*FORM*/
.form-box {
    position: relative;
    display: inline-block;
    width: 90%;
    max-width: 800px;
    height: auto;
    margin-bottom: -130px;
    background-color: #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.1);
    padding: 20px 40px;
    text-align: center;
}

.require-col {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.input-text, .input-select, .input-des {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 50px 0
}

    .input-des p {
        margin: 30px 0 0 0;
        font-family: 'Montserrat',sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #1b8d3f;
        line-height: 1.6;
        text-align: left;
    }

.input-but {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 20px 0;
    text-align: center; /*border-top:1px solid #ccc;*/
    padding: 20px 0;
    float: left;
}

    .input-but button[type="submit"] {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: auto;
        height: 76px;
        line-height: 1.2;
        padding: 0 20px;
        background-color: #e39717;
        border: none;
        font-family: 'Montserrat',sans-serif;
        font-weight: 700;
        font-size: 18px;
        color: #fff;
        text-transform: uppercase;
        -webkit-appearance: none;
        cursor: pointer;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        float: right;
        z-index: 1
    }

        .input-but button[type="submit"]:hover {
            background-color: #008c44
        }

        .input-but button[type="submit"]::before {
            content: '';
            position: absolute;
            left: 6px;
            top: 6px;
            width: calc(100% - 12px);
            height: calc(100% - 12px);
            border: 1px solid #fff;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

.input-area {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    z-index: 1;
    clear: both;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .input-area textarea {
        width: 100%;
        height: 80px;
        padding: 20px;
        border: 1px solid #008b44;
        -webkit-border-radius: 0;
        border-radius: 0;
        font-family: 'Montserrat',sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #008b44;
        resize: none;
        overflow: auto;
        -webkit-appearance: none;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: rgba(255,255,255,0);
    }

        .input-area textarea:focus {
            background-color: #008b44;
            color: #fff
        }

.form-box .col-50-left, .form-box .col-50-right {
    width: calc(50% - 10px);
}



/*CAPTCHA*/
.captcha {
    display: inline-block;
    float: left;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    margin: 0;
    vertical-align: middle;
    overflow: hidden
}

.g-recaptcha {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin: 0;
    text-align: center
}

    .g-recaptcha > div {
        width: 100% !important;
        height: auto !important;
        position: relative;
        display: inline-block
    }

.checkbox {
    position: relative;
    display: block;
    width: 100%;
    height: auto
}

.input-checkbox {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .input-checkbox input[type="checkbox"] {
        height: 30px;
        width: 30px;
        left: 0;
        top: 10px;
        margin: 0;
        cursor: pointer;
        opacity: 0;
        position: absolute;
        cursor: pointer;
        z-index: 1
    }

.checkmark {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border: 1px solid #008b44;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
}

    .checkmark:after {
        content: "";
        left: 9px;
        top: 2px;
        width: 10px;
        height: 20px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        display: none;
    }

.input-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
    display: block;
}

.input-checkbox input[type="checkbox"]:checked ~ .checkmark {
    background-color: #e39717;
    border-color: #e39717
}

.other-check {
    height: auto
}

.input-checkbox input[type="checkbox"]:checked ~ .input-area {
    height: 82px
}

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 100%;
    vertical-align: top
}

.input-field {
    position: relative;
    display: block;
    float: right;
    border: none;
    -webkit-appearance: none;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    font-size: 16px;
}

    .input-field:focus {
        outline: none
    }

.input-label {
    display: inline-block;
    color: #008b44;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.input-label-content {
    position: relative;
    display: block;
    padding: 10px 0;
    width: 100%;
    font-size: 16px !important;
    font-weight: 700 !important;
}

/* Jiro */
.input-jiro {
    margin-top: 30px
}

.input-field-jiro {
    padding: 0 0px;
    height: 50px;
    width: 100%;
    background: transparent;
    color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    font-family: 'Montserrat-Medium';
    font-weight: 700;
    font-size: 16px;
    padding-left:10px;
}

.input-label-jiro {
    position: absolute;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    pointer-events: none;
    font-family: 'Montserrat-Medium';
    font-size: 16px;
}

.input-label-content-jiro {
    -webkit-transition: -webkit-transform 0.3s 0.3s;
    transition: transform 0.3s 0.3s
}

.input-label-jiro::before, .input-label-jiro::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s
}

.input-label-jiro::before {
    border-top: 1px solid #008b44;
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
    transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s
}

.input-label-jiro::after {
    z-index: -1;
    background: #008b44;
    -webkit-transform: scale3d(1, 0, 1);
    transform: scale3d(1, 0, 1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%
}

.input-field-jiro:focus, .input-filled .input-field-jiro {
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s
}

    .input-field-jiro:focus + .input-label-jiro .input-label-content-jiro, .input-filled .input-label-content-jiro {
        -webkit-transform: translate3d(0, -80%, 0);
        transform: translate3d(0, -80%, 0);
        -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
    }

    .input-field-jiro:focus + .input-label-jiro::before, .input-filled .input-label-jiro::before {
        -webkit-transition-delay: 0s;
        transition-delay: 0s
    }

    .input-field-jiro:focus + .input-label-jiro::before, .input-filled .input-label-jiro::before {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    .input-field-jiro:focus + .input-label-jiro::after, .input-filled .input-label-jiro::after {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1)
    }

.input-jiro.input-filled {
    margin-top: 30px
}


/*STEP TWO*/
.document-form {
    position: relative;
    width: 100%;
    height: auto;
    background: #fff url(../images/pattern3.png) repeat;
    display: none;
    z-index: 110
}

    .document-form .consult {
        background-image: none;
        background-color: transparent
    }

    .document-form .content-text, .document-form .form-box {
        opacity: 1
    }

    .document-form .consult .content-text h2 {
        margin: 0 0 10px 0
    }

    .document-form .consult .content-text {
        padding: 70px 0 0 0;
        margin: 70px auto 0 auto;
    }

    .document-form .document-center::after {
        content: '';
        width: 100%;
        height: 60vh;
        position: absolute;
        left: 0;
        top: 0;
        background: -webkit-linear-gradient(0deg, rgb(227, 151, 23) 0%, rgb(0, 140, 68) 100%);
        background: linear-gradient(0deg, rgb(227, 151, 23) 0%, rgb(0, 140, 68) 100%);
        z-index: 1
    }

.form-two {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    text-align: center;
    color: #fff;
    opacity: 0;
    z-index: 5
}

    .form-two .form-box {
        padding: 20px 30px;
        margin: 0 0 100px 0
    }

    .form-two .select-list {
        height: 51px;
        margin: 0 0 10px 0
    }
    /*.form-two .select-list:nth-child(1){ z-index:11}
.form-two .select-list.city_left{ z-index:10}
.form-two .select-list.gioitinh_left{ z-index:9}

.form-two .select-list.nghenghiep_left{ z-index:8}
.form-two .select-list.tinhtranghonnhan_right{ z-index:7}*/

    /*.form-two .select-list.placesave_left{ z-index:6}
.form-two .select-list.placesave_right{ z-index:5}

.form-two .select-list.placecontact_left{ z-index:4}
.form-two .select-list.placecontact_right{ z-index:3}*/


    .form-two .select-header h3 {
        line-height: 50px;
        font-weight: 400;
    }

    .form-two .select-header::before {
        right: 0
    }

.input-log {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #008b44;
    float: left;
    text-align: left;
}

    .input-log input[type="text"] {
        font-family: 'Montserrat',sans-serif;
        width: 100%;
        height: auto;
        line-height: 40px;
        padding: 5px 0;
        border: none;
        font-weight: normal;
        font-size: 16px;
        color: #008b44;
        -webkit-appearance: none;
        -webkit-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out;
        background-color: #fff;
        font-weight: 400;
    }

        .input-log input[type="text"]:focus {
            color: #424242
        }

    .input-log small {
        display: inline-block;
        color: #008b44;
        font-family: 'Montserrat',sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        vertical-align: middle;
        margin: 10px 15px 10px 0;
    }

    .input-log .input-checkbox {
        display: inline-block;
        width: auto;
        margin: 10px;
        vertical-align: middle;
        float: none;
        font-weight: 400;
        color: #008b44
    }

.checkbox.input-log .input-checkbox.col-50-left {
    width: calc(50% - 20px);
    float: left;
}

.select-list.col-50-right {
    z-index: 9
}

.col-100 {
    width: calc(100% - 10px);
}

.col-70 {
    width: calc(100%/3 * 2 - 10px);
}

.col-50-left {
    width: calc(50% - 5px);
    float: left
}

.col-50-right {
    width: calc(50% - 5px);
    float: right
}

.col-30 {
    width: calc(100%/3 - 10px);
}

.col-30-left {
    width: calc(100%/3 - 10px);
    float: left
}

.col-30-right {
    width: calc(100%/3 - 10px);
    float: right
}

.col-25 {
    width: calc(50%/2 - 10px);
}

.date-box {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    float: left;
    margin-top: 9px;
    margin-bottom: 11px;
}

    .date-box .select-list {
        margin: 0px auto
    }

    .date-box .col-30-left:first-child {
        margin-right: 15px;
    }

.have_atm .input-checkbox {
    margin-left: 0;
    margin-right: 0
}

    .have_atm .input-checkbox .checkmark {
        margin-right: 5px;
    }

.have_atm {
    border-bottom: 0px solid;
    margin-bottom: 0px;
}

    .have_atm .input-text {
        margin-bottom: 0px
    }

.input-dieukhoan .input-checkbox {
    margin-left: 0px;
}

.step-two .container {
    height: auto;
    margin: 0;
}

.step-two .logo {
    cursor: pointer
}

.step-two .header {
    left: 50%;
    margin: 0 0 0 -180px;
    position: absolute
}

    .step-two .header::after {
        width: 360px;
        -webkit-border-radius: 0 0 10px 10px;
        border-radius: 0 0 10px 10px
    }

.step-two .navigation, .step-two .consult-box, .step-two .wheel, .step-two .consult-mess {
    display: none
}

.step-two .bottom-text {
    height: 50px;
    line-height: 50px
}

.step-two .footer-info {
    display: none
}

.step-two .footer {
    padding: 30px 0 0 0;
    opacity: 0
}

.step-two .captcha {
    display: none
}

.step-two .select-header h3 {
    text-transform: inherit
}

.form-title {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 20px 0 5px 0;
    float: left
}

    .form-title h3 {
        display: block;
        padding: 0;
        font-weight: 700;
        font-size: 18px;
        color: #1b8d3f;
        line-height: 40px;
        text-transform: uppercase;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

.checkbox.input-log .input-checkbox {
    width: 100%
}

.input-checkbox a {
    color: #e39717
}

    .input-checkbox a:hover {
        color: #008b44
    }

.input-but-form2 {
    margin: 0 0 20px 0;
}

.input-dieukhoan {
    border: none
}

.send-success h3 {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0 0 15px 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-size: 26px;
    color: #fff;
    text-align: center;
    z-index: 1;
    text-transform: uppercase;
    font-weight: 700;
}

.passportfull {
    display: none
}

.consult .content-text mask {
    font-size: 20px;
    color: #e29617
}

/*CALENDA*/
/*DATE PICKER*/
#datesave, #datebirth {
    background: url(../images/calendar.png) no-repeat right top
}

.datetimepicker-widget {
    font-family: 'Montserrat',sans-serif;
    width: 260px;
    height: auto;
    color: #fff;
    display: none;
    padding: 10px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #008c44;
    margin: 0;
    z-index: 9999;
}

    .datetimepicker-widget .table-condensed {
        width: 100%;
        margin: 0
    }

    .datetimepicker-widget > ul {
        list-style-type: none;
        margin: 0
    }

    .datetimepicker-widget thead tr:first-child th {
        cursor: pointer
    }

    .datetimepicker-widget thead tr {
        height: 30px
    }

    .datetimepicker-widget.top:before {
        content: '';
        display: inline-block;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #008c44;
        border-top-color: #008c44;
        position: absolute;
        bottom: -10px;
        left: 20px
    }

    .datetimepicker-widget.bottom:before {
        content: '';
        display: inline-block;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #008c44;
        border-bottom-color: #008c44;
        position: absolute;
        top: -10px;
        left: 20px
    }

    .datetimepicker-widget td, .datetimepicker-widget th, .datetimepicker-widget span {
        text-align: center;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .datetimepicker-widget .datepicker > div {
        display: none
    }

.datepicker-days, .datepicker-months, datepicker-years {
    width: 100%;
    height: 100%;
    padding: 5px
}

.datetimepicker-widget .picker-switch {
    width: 180px;
    height: auto;
    padding: 5px 10px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin: 0 0 0 -90px;
    text-transform: uppercase
}

    .datetimepicker-widget .picker-switch:hover {
        background-color: #e39717;
    }

.datetimepicker-widget .next {
    background: url(../images/next-2.svg) no-repeat center center / contain;
    width: 30px;
    height: 30px;
    position: absolute;
    display: block;
    cursor: pointer;
    top: 10px;
    right: 10px;
    font-size: 0;
    text-indent: -9999
}

.datetimepicker-widget .prev {
    background: url(../images/previous-2.svg) no-repeat center center / contain;
    width: 30px;
    height: 30px;
    position: absolute;
    display: block;
    cursor: pointer;
    top: 10px;
    left: 10px;
    font-size: 0;
    text-indent: -9999
}

.datetimepicker-widget .month, .datetimepicker-widget .year {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 1px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

    .datetimepicker-widget .month:hover, .datetimepicker-widget .month.active, .datetimepicker-widget .year:hover, .datetimepicker-widget .year.active {
        background-color: #e39717
    }

.datetimepicker-widget .day {
    height: 20px;
    line-height: 20px;
    width: 20px;
    padding: 5px;
}

    .datetimepicker-widget .day:hover {
        background-color: #e39717;
        cursor: pointer;
        color: #fff
    }

.datetimepicker-widget .old, .datetimepicker-widget .new {
    color: #00591f
}

.datetimepicker-widget .today {
    position: relative
}

.datetimepicker-widget td.active, .datetimepicker-widget td.active:hover {
    background-color: #e39717;
}




/*ALBUM*/
.all-album {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    z-index: 3600;
}

.album-load {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    opacity: 0;
}

.album-center {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: block
}

.album-pic-center {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    display: block;
}

    .album-pic-center img {
        width: auto;
        height: auto;
        position: relative;
        display: inline-block;
        margin: auto;
        vertical-align: middle;
        max-height: 85%;
        max-width: 85%;
    }

    .album-pic-center .pic-name {
        position: absolute;
        left: 0;
        top: 1.5%;
        z-index: 5;
        width: 100%;
        height: auto
    }

        .album-pic-center .pic-name h2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 22px;
            line-height: 22px;
            text-align: left;
            position: relative;
            display: block;
            margin-bottom: 10px;
            color: rgba(255,255,255,1);
            text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
        }

            .album-pic-center .pic-name h2 > span {
                -webkit-transition: all 800ms ease;
                -ms-transition: all 800ms ease;
                transition: all 800ms ease;
                opacity: 0
            }

        .album-pic-center .pic-name.move h2 > span.move {
            opacity: 1;
        }

        .album-pic-center .pic-name h3 {
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.4;
            text-align: center;
            display: inline-block;
            position: relative;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
            text-transform: uppercase;
            padding: 10px 20px;
        }

            .album-pic-center .pic-name h3 > span > span {
                -webkit-transition: opacity 600ms ease;
                transition: opacity 600ms ease;
                opacity: 0;
            }

        .album-pic-center .pic-name.move h3 > span > span.move {
            opacity: 1;
        }

.slide-pic-nav {
    width: 100%;
    position: absolute;
    height: auto;
    top: 50%;
    margin-top: -30px;
    bottom: auto;
    left: 0;
    z-index: 10;
    display: none
}

/*BACKGROUND*/
.bg-cover {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

    .bg-cover::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        -webkit-transition: opacity 600ms ease;
        transition: opacity 600ms ease;
        mix-blend-mode: multiply
    }

    .bg-cover.show::after {
        opacity: 0.8
    }

.box-cover {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bg-blur {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    z-index: -1
}

/*VIDEO HTML5*/
.allvideo {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    display: none;
    z-index: 2200;
}

.video-list {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.video-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.video-skin {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.video-wrap iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,1);
    display: block;
    top: 0;
    left: 0;
    z-index: 10;
}
/*ZOOM PIC*/
.all-pics {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4000;
    display: none;
}

    .all-pics.show {
        display: block
    }

    .all-pics .text-length {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9998;
        opacity: 0;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        text-align: center
    }

        .all-pics .text-length h3 {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 24px;
            color: #fff;
            line-height: 1.2;
            position: relative;
            text-align: center;
            padding: 10px 20px;
            text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
            text-transform: uppercase;
            background-color: rgba(0,0,0,0.5);
            display: inline-block;
        }

.full {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: block
}

    .full img {
        width: auto;
        max-width: 98%;
        height: auto;
        outline: none;
        border: none;
        margin: 0 auto;
        display: block;
        opacity: 0;
        position: relative;
        cursor: url(../images/openhand.png) 6 8, move;
        z-index: 5
    }

    .full span {
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1
    }

.dragscroll {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
}

.pinch-zoom-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    margin: 0;
}

.pinch-zoom {
    width: 100%;
    left: 0;
    top: 0;
    text-align: center
}

    .pinch-zoom:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    .pinch-zoom:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    .pinch-zoom > img {
        width: auto;
        height: auto;
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin: 0
    }
/*CLOSE*/
.close-pics-small {
    background: url(../images/close.svg) no-repeat center center / cover;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    left: 50%;
    top: 10px;
    margin-left: -20px;
    display: none;
    z-index: 99999;
}

.close-pics {
    width: 70px;
    height: 70px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 20px;
    left: auto;
    bottom: auto;
    margin: 0;
    display: block;
    background: url(../images/close.svg) no-repeat center center / contain;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 9999;
}

    .close-pics:hover {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

.close-album {
    width: 70px;
    height: 70px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    left: auto;
    bottom: auto;
    margin: 0;
    display: block;
    background: url(../images/close.svg) no-repeat center center / contain;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 9999;
}

    .close-album:hover {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

.close, .close-top, .close-video {
    width: 70px;
    height: 70px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 20px;
    left: auto;
    bottom: auto;
    margin: 0;
    display: block;
    background: url(../images/close.svg) no-repeat center center / contain;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 9999;
}

    .close:hover, .close-top:hover, .close-video:hover {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

.close-box {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    margin: -25px 0 0 0;
    display: block;
    background: url(../images/close.svg) no-repeat center center / contain;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
}

    .close-box:hover {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

/*NEXT-PREVIOUS*/
.next-pic {
    background: url(../images/next-2.svg) no-repeat center center / contain;
    width: 50px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.prev-pic {
    background: url(../images/previous-2.svg) no-repeat center center / contain;
    width: 50px;
    height: 80px;
    position: absolute;
    left: 20px;
    top: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .next-pic:not(.disabled):hover, .prev-pic:not(.disabled):hover {
        -webkit-transform: scale(0.8);
        transform: scale(0.8)
    }

    .next-pic.disabled, .prev-pic.disabled {
        opacity: 0.2;
        pointer-events: none
    }


/*PLAY OPEN*/
.player {
    position: absolute;
    left: 50%;
    bottom: 20%;
    width: 134px;
    height: 134px;
    background: -webkit-linear-gradient(135deg, rgb(0, 140, 68) 0%, rgb(227, 151, 23) 100%);
    background: linear-gradient(135deg, rgb(0, 140, 68) 0%, rgb(227, 151, 23) 100%);
    box-shadow: 0 0 0 20px rgba(255,255,255,0.15);
    margin: 0 0 0 -67px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 10;
}

    .player span {
        position: absolute;
        left: 15px;
        top: 15px;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        background: url(../images/player.svg) no-repeat center center / contain;
        z-index: 3
    }

    .player::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(135deg, rgb(227, 151, 23) 0%, rgb(0, 140, 68) 100%);
        background: linear-gradient(135deg, rgb(227, 151, 23) 0%, rgb(0, 140, 68) 100%);
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        z-index: 2
    }

    .player:hover::before {
        opacity: 1
    }



.zoom {
    background: rgba(0,0,0,0.2) url(../images/zoom-in.svg) no-repeat center center / contain;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: -10px;
    margin: 0 0 0 -20px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 20;
}

    .zoom::before {
        content: '';
        width: 60px;
        height: 60px;
        left: -10px;
        top: -10px;
        position: absolute;
        border: 10px solid rgba(0,0,0,0.3);
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        z-index: -1;
    }

    .zoom:hover {
        box-shadow: 0 0 10px rgba(255,255,255,1);
        background-color: rgba(0,0,0,0.6)
    }

        .zoom:hover::before {
            border-color: rgba(0,0,0,0.2)
        }

.zoom-hover {
    background: #b0b0b0 url(../images/zoom-in.svg) no-repeat center center / contain;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 15px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 20;
}

    .zoom-hover::before {
        content: '';
        width: 40px;
        height: 40px;
        left: -5px;
        top: -5px;
        position: absolute;
        border: 7px solid #b0b0b0;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        z-index: -1;
    }

    .zoom-hover:hover {
        box-shadow: 0 0 10px rgba(255,255,255,1);
        background-color: #e39717
    }

        .zoom-hover:hover::before {
            border-color: rgba(0,0,0,0.2)
        }


.view-album {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    z-index: 10;
}

    .view-album::before {
        content: "";
        background: url(../images/dot-bg.png) no-repeat center top;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }

    .view-album::after {
        content: "";
        background: url(../images/dot-bg.png) no-repeat center bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        opacity: 0
    }

    .view-album:hover::before {
        opacity: 0
    }

    .view-album:hover::after {
        opacity: 1
    }



/*OVERLAY*/
.overlay-dark {
    background: -webkit-linear-gradient(180deg, #00814b 0%, #0ebb73 100%);
    background: linear-gradient(180deg, #00814b 0%, #0ebb73 100%);
    height: 0;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    overflow: hidden;
    -ms-touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    opacity: 0.9;
    z-index: 1500;
}

    .overlay-dark.show {
        height: 100%
    }

/*RESET LAYOUT*/
.relative {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    height: auto
}

.no-scroll {
    overflow-x: hidden;
    overflow-y: hidden !important;
    overflow: hidden;
}

.wrap-page {
    width: 100%;
    max-width: 900px;
    position: relative;
    margin: 0 auto;
    height: auto;
}

.no-link {
    pointer-events: none
}

.level-index-out {
    z-index: -9999;
    pointer-events: none
}

.level-index-in {
    z-index: 9999;
}

.visible {
    overflow: visible;
}

.TA-center .slide-wrapper {
    width: 100% !important;
    white-space: nowrap;
    text-align: center;
}

.TA-center .slide-item {
    float: none !important;
    display: inline-block !important;
    vertical-align: top;
}

.scroll-down {
    position: fixed;
    left: 50%;
    bottom: 50px;
    margin: 0 0 0 -9px;
    width: 18px;
    height: 46px;
    background: url(../images/scroll-down.png) repeat-y;
    background-size: 90px 46px;
    opacity: 0;
    -webkit-animation: Play 1.6s steps(20) infinite alternate;
    animation: Play 1.6s steps(20) infinite alternate;
    z-index: -9999;
    pointer-events: none;
}

    .scroll-down.show {
        opacity: 1;
        pointer-events: auto;
        z-index: 10
    }

.go-top {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none;
    z-index: 15;
}

    .go-top::before {
        content: '';
        position: absolute;
        left: 50%;
        top: -20px;
        width: 1px;
        height: 100px;
        background-color: #cfcfbf
    }

    .go-top::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: url(../images/top2.png) no-repeat center center;
        background-color: #cfcfbf;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .go-top.show {
        display: block
    }


    .go-top:hover::after {
        background-color: #e39717;
    }

    .go-top span {
        position: relative;
        top: 50%;
        margin-top: 10px;
        display: block;
        width: 100%;
        height: auto;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 10px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        z-index: 1
    }



.wheel {
    width: 200px;
    height: auto;
    position: fixed;
    left: 50%;
    right: auto;
    bottom: 10px;
    margin: 0 0 0 -100px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
    pointer-events: none;
}

    .wheel span {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        padding: 0 0 40px 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        color: #fff;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase
    }

    .wheel.show {
        opacity: 1;
        pointer-events: auto;
        z-index: 30
    }

        .wheel.show::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 40px auto auto auto;
            width: 30px;
            height: 16px;
            background: url(../images/wheel.png) no-repeat center center
        }

        .wheel.show::after {
            -webkit-animation: trackBallSlide 3s linear infinite;
            animation: trackBallSlide 3s linear infinite;
        }

.touch {
    background-image: url(../images/pinchzoom.png);
    background-position: left top;
    background-repeat: no-repeat
}

.cursor {
    cursor: url(../images/openhand.png) 8 8, move;
}

.drag-cursor {
    cursor: url(../images/grabbing.png) 8 8, move;
}

.desktop {
    display: block
}

.mobile {
    display: none
}

img.desktop {
    display: block
}

img.mobile {
    display: none
}


/*CONTROL BAR*/
.controls {
    position: absolute;
    width: 100%;
    height: 30px;
    padding: 5px 0;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    text-align: center;
    background-color: rgba(255,255,255,0);
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    opacity: 0;
    display: block;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    overflow: hidden;
    z-index: -99999;
}

    .controls[data-state=hidden] {
        display: none;
    }

    .controls[data-state=visible] {
        visibility: visible
    }

    .controls .progress {
        cursor: pointer;
        width: calc(100% - 150px);
        max-width: 300px;
        height: 10px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 1px 0;
        padding: 1px;
        background-color: rgba(255,255,255,0.2)
    }

    .controls progress[data-state="fake"] {
        background-color: #fff;
        height: 20px;
    }

    .controls button {
        text-align: center;
        overflow: hidden;
        background-color: transparent;
        border: none;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 30px;
        height: 30px;
        overflow: hidden;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 1
    }

        .controls button:hover {
            opacity: 0.5;
        }

        .controls button:focus {
            opacity: 1;
        }

    .controls progress {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        border: none;
        overflow: hidden;
        background-color: rgba(0,0,0,0.1);
        color: #fff
    }

        .controls progress span {
            width: 0%;
            height: 100%;
            display: inline-block;
            background-color: #fff;
        }

        .controls progress::-moz-progress-bar {
            background-color: #fff;
        }

    .controls button[data-state="play"] {
        background-image: url(../images/video/play.svg);
        width: 20px;
        height: 20px;
        background-size: cover
    }

    .controls button[data-state="pause"] {
        background-image: url(../images/video/pause.svg);
        width: 20px;
        height: 20px;
        background-size: cover
    }

    .controls button[data-state="stop"] {
        background-image: url(../images/video/stop.svg);
        width: 0;
        height: 0;
        background-size: cover;
        opacity: 0
    }

    .controls button[data-state="mute"] {
        background-image: url(../images/video/mute.svg);
        width: 25px;
        height: 25px;
        background-size: cover
    }

    .controls button[data-state="unmute"] {
        background-image: url(../images/video/unmute.svg);
        width: 25px;
        height: 25px;
        background-size: cover
    }

    .controls button[data-state="go-fullscreen"] {
        background-image: url(../images/video/fullscreen.svg);
        width: 20px;
        height: 20px;
        background-size: cover;
    }

    .controls button[data-state="cancel-fullscreen"] {
        background-image: url(../images/video/cancel-fullscreen.svg);
        width: 20px;
        height: 20px;
        background-size: cover;
    }

.video-cover[data-fullscreen=true] {
    position: fixed;
    left: 0;
    top: 0;
}

    .video-cover[data-fullscreen=true] video {
        height: auto;
    }

    .video-cover[data-fullscreen=true] figcaption {
        display: none;
    }

    .video-cover[data-fullscreen=true] .controls {
        bottom: 0;
        z-index: 2147483647;
        position: fixed
    }

    .video-cover[data-fullscreen=true] .video-full {
        width: 100%;
        height: 100%;
        min-width: inherit;
        min-height: inherit;
        left: 0;
        top: 0;
        bottom: auto;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .video-cover[data-fullscreen=true] .overlay {
        display: none
    }

.controls.addshow {
    bottom: 10px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 10;
}



/*SLIDE*/
.slide-slidebox {
    position: relative;
    -ms-touch-action: pan-y;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
}

.slide-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
    height: auto
}

    .slide-wrapper::after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

.slide-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

    .slide-wrapper-outer.autoheight {
        -webkit-transition: height 300ms ease-in-out;
        transition: height 300ms ease-in-out;
    }

.slide-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.slide-loaded {
    display: block;
}

.slide-loading {
    opacity: 0;
    display: block;
}

.slide-controls {
    text-align: center;
    width: 100%;
    position: relative;
    height: auto;
    margin: 0 auto;
    z-index: 2
}

.slide-pagination {
    position: relative;
    width: 100%;
    height: auto;
    margin: 10px 0;
}

.slide-page, .slide-buttons div {
    cursor: pointer;
}

.slide-page {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    margin: 0 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

    .slide-page span:not(.slide-numbers) {
        display: block;
        width: 18px;
        height: 6px;
        background-color: rgba(255,255,255,0.8);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        margin: 0
    }

        .slide-page span:not(.slide-numbers)::before {
            border: 1px solid rgba(255,255,255,0);
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            position: absolute;
            display: block;
            content: "";
            width: 24px;
            height: 12px;
            left: -3px;
            top: -3px
        }

    .slide-page:hover span:not(.slide-numbers)::before {
        border: 1px solid #e29617
    }

    .slide-page:hover span:not(.slide-numbers) {
        background-color: #e29617
    }

    .slide-page.active span:not(.slide-numbers)::before {
        pointer-events: none;
        border: 1px solid #e29617
    }

    .slide-page.active span:not(.slide-numbers) {
        pointer-events: none;
        background-color: #e29617
    }

    .slide-page span.slide-numbers {
        color: #333;
        padding: 0;
        font-size: 30px;
        line-height: 50px;
        text-align: center;
        display: block;
        width: 50px;
        height: 50px;
        border: 1px solid #333;
        background-color: rgba(245,128,32,0);
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin: 10px 0;
        pointer-events: auto
    }

    .slide-page:hover span.slide-numbers {
        background-color: rgba(31,165,75,1);
        border: 1px solid rgba(245,128,32,0);
        color: #fff;
    }

    .slide-page.active span.slide-numbers {
        pointer-events: none;
        background-color: rgba(31,165,75,1);
        border: 1px solid rgba(245,128,32,0);
        color: #fff;
    }

    .slide-page.active {
        pointer-events: none
    }


/*modify*/
.slide-buttons {
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    top: -50%;
    left: 0;
}

.slide-prev, .slide-next {
    position: absolute;
    top: 50%;
    height: 60px;
    width: 50px;
    margin: -30px 0 0 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 100
}

.slide-prev {
    background: url(../images/previous-2.svg) no-repeat center center / contain;
    left: -80px
}

.slide-next {
    background: url(../images/next-2.svg) no-repeat center center / contain;
    right: -80px
}

    .slide-prev:hover, .slide-next:hover {
        -webkit-transform: scale(0.8);
        transform: scale(0.8)
    }

    .slide-prev.disabled, .slide-next.disabled {
        pointer-events: none;
        opacity: 0.2
    }


.center-no-paging .slide-controls, .center-no-paging .slide-buttons {
    position: static;
    height: 0;
    left: auto;
    top: auto
}

.center-no-paging .slide-pagination {
    display: none
}

.center-paging .slide-controls, .center-paging .slide-buttons {
    position: static;
    left: auto;
    top: auto
}

.center-paging .slide-prev, .center-paging .slide-next {
    margin: -50px 0 0 0
}


.preloader {
    width: 100%;
    height: 100%;
    min-height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    background-color: transparent;
    display: none;
    z-index: 10;
}

    .preloader::before {
        content: "";
        width: 80px;
        height: 80px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -40px 0 0 -40px;
        background-image: url(../images/cycle.png);
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-animation: Rotate 1.5s linear infinite;
        animation: Rotate 1.5s linear infinite;
    }

    .preloader::after {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

.loading .preloader {
    display: block
}

.preloader.done {
    display: none
}

/* FIX */
.slide-item {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grabbing {
    cursor: ew-resize;
    cursor: e-resize;
    cursor: url(../images/grabbing.png) 8 8, move;
}


/*ALERT*/
.class-hidden {
    display: none;
}

#contact-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 110000;
    width: 82px;
    height: 82px;
    margin: -41px 0 0 -41px;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    animation: Rotate 2.5s linear infinite;
    -webkit-animation: Rotate 2.5s linear infinite;
    display: none;
}

.contact-success, .register-success {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -150px;
    padding: 20px;
    font-size: 15px;
    line-height: 1.6;
    width: 300px;
    height: auto;
    background-color: #c30004;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    z-index: 99999;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}

.color-blue {
    background-color: #008c44;
    color: #fff;
}

.inputContainer {
    position: relative;
    float: left;
}

.formError {
    position: absolute;
    top: -30px;
    left: 20px;
    display: block;
    cursor: pointer;
    z-index: 99999;
}

.formErrorContent {
    background-color: rgba(209,0,8,0.8);
    position: relative;
    display: inline-block;
    color: #fff;
    width: auto;
    height: auto;
    max-width: 250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 8px 12px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 9999;
}

    .formErrorContent::after {
        content: '';
        position: absolute;
        left: 20px;
        bottom: -10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 7px 0 7px;
        border-color: rgba(209,0,8,0.8) transparent transparent transparent;
    }

.greenPopup .formErrorContent {
    background-color: #008c44;
}

.blackPopup .formErrorContent {
    background-color: #393939;
    color: #fff;
}

.ajaxSubmit {
    padding: 20px;
    background-color: #008c44;
    display: none
}

.row-col {
    display: table;
    width: 100%;
}

    .row-col .col-50-left {
        float: left;
        width: calc(50% - 15px);
    }

    .row-col .col-50-right {
        width: calc(50% - 15px);
    }

@media screen and (max-width:1400px) {
    /*LAYOUT*/
    .nav li {
        margin: 0 10px
    }

        .nav li a {
            font-size: 13px
        }

    /*TITLE*/
    .title-box {
        padding: 40px 5%
    }


    /*LANGING*/
    .content-lenght h2, .promotion-info h3 {
        font-size: 40px
    }

    .account-event .content-text, .promotion-info .content-text, .omni-item .content-text {
        margin-right: 5%
    }

    .account-event .content-text, .promotion-info .content-text {
        padding: 8% 0
    }

    .account-promotion {
        padding: 60px 0 40px 0
    }

    .account-list {
        padding: 30px 0
    }

    .omni-item h2 {
        font-size: 24px
    }

    .omni-item p {
        font-size: 18px
    }

    .main-pic .outer-but a {
        font-size: 14px;
    }
}

@media screen and (max-width:1300px) {
    /*LAYOUT*/
    .nav li {
        margin: 0 10px
    }

        .nav li a {
            font-size: 13px
        }

    /*VIDEO*/
    .player {
        width: 104px;
        height: 104px;
        margin: 0 0 0 -52px;
        box-shadow: 0 0 0 15px rgba(255,255,255,0.15)
    }
}

@media screen and (max-width:1250px) {
    /*LAYOUT*/
    .navigation {
        text-align: right;
        padding-right: 280px
    }

    .consult-box {
        width: 200px;
        padding: 0 10px;
        font-size: 15px
    }
}

@media screen and (max-width:1150px) {
    /*LAYOUT*/
    .nav li a {
        font-size: 12px
    }


    /*LANDING*/
    .account-promotion .content-text {
        width: 96%
    }
}


@media screen and (max-width:1100px) {
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }

        body.hidden {
            overflow-x: hidden;
            overflow-y: auto;
        }

    .next-prev {
        width: 0;
        height: 0;
        z-index: -99999;
        overflow: hidden
    }

    .scroll-down {
        right: 10px;
        bottom: 40px;
        left: auto;
        margin: 0;
        z-index: 20
    }

    .wheel, .box-nav, .navigation span, .video-cover .overlay, .omni-slider .slide-buttons {
        display: none
    }

    .loadicon {
        width: 80px;
        height: 80px;
        margin: -40px 0 0 -40px;
    }

    .header {
        height: 70px;
    }

    .logo {
        top: 0;
        left: 5px;
        background: url(../images/logo_m.svg) no-repeat center center / contain;
        width: 140px;
        height: 70px
    }

    .consult-box {
        width: 190px;
        font-size: 14px;
        -webkit-transition: none;
        transition: none
    }

        .consult-box:hover {
            color: #fff
        }

    .consult-text {
        background-size: contain;
        padding: 5px 0 5px 50px
    }

    .navigation {
        height: 70px;
        line-height: 70px;
        padding: 0;
        text-align: center
    }

    .nav li {
        margin: 0 5px
    }

    .consult-mess {
        top: 80px
    }

    .call-number, .hotline .call::before {
        -webkit-transition: none;
        transition: none
    }

    .hotline .call::after {
        display: none
    }

    .hotline:hover .call::before {
        opacity: 1;
    }

    .hotline:hover .call-number {
        color: #e39717;
    }



    /*SUB-INNER*/
    .sub-inner {
        height: 50px;
        margin: 0;
        line-height: 50px;
        overflow-y: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

        .sub-inner li {
            font-size: 12px;
            padding: 0 15px;
            -webkit-transition: none;
            transition: none
        }

            .sub-inner li::before {
                left: 5px;
                top: 5px;
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                -webkit-transition: none;
                transition: none
            }

            .sub-inner li:not(.current):hover {
                background-color: transparent
            }

                .sub-inner li:not(.current):hover::before {
                    opacity: 0
                }

    .utilities-bot li:nth-child(1) a {
        font-size: 16px
    }


    /*INFO FOOTER*/
    .footer {
        height: auto
    }

    .footer-info {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        left: auto;
        top: auto;
        margin: 0;
        z-index: 2
    }

    .bank-info {
        margin: 20px auto;
    }

        .bank-info .title {
            font-size: 18px;
        }

        .bank-info p {
            font-size: 14px;
        }


    /*FOOTER*/
    .bottom-text {
        width: 100%;
        height: auto;
        position: relative;
        left: auto;
        bottom: auto;
        text-align: center
    }

    .copyright {
        text-align: center;
        float: none
    }

    .social {
        float: none;
        width: 100%
    }

        .social li a {
            -webkit-transition: none;
            transition: none;
        }

            .social li a:hover {
                opacity: 1
            }






    /*RESET LAYOUT*/
    .desktop {
        display: none
    }

    .mobile {
        display: block
    }

    img.desktop {
        display: none
    }

    img.mobile {
        display: block
    }

    /*TITLE*/
    .title-page {
        top: 10px;
        padding: 10px 20px;
    }

        .title-page h1 {
            font-size: 30px;
            text-align: left
        }


    /*VIDEO HOME*/
    .video-cover, .video-full {
        min-height: inherit
    }

    .video-full {
        position: relative;
        left: auto;
        top: auto;
        width: 100%;
        height: 100%;
        min-height: inherit;
        -webkit-transform: translate(0,0);
        transform: translate(0, 0);
        display: block
    }

    .box-video-center {
        height: auto;
        width: 100%;
        top: auto;
        left: auto;
        position: relative;
    }

    .controls {
        bottom: 0;
        left: 0;
        margin: 0;
    }

    .banner-home {
        width: 100%;
        height: auto;
    }



    /*FORM*/
    .form-box {
        padding: 30px 5%
    }

    .input-but {
        text-align: center
    }

        .input-but button[type="submit"] {
            font-size: 16px;
            -webkit-transform: none;
            transform: none;
            float: none
        }

            .input-but button[type="submit"]:hover {
                background-color: #e39717
            }

    .input-des p, .input-label, .select-header h3, .select-box li h3, .input-area textarea, .input-log input[type="text"], .input-log small {
        font-size: 14px;
    }

    .select-box li h3 {
        padding: 10px 20px
    }

    .select-header, .select-header::before, .select-box li {
        transition: none;
        -webkit-transition: none
    }

        .select-box li:not(.selected):hover {
            background-color: #1b8d3f
        }

    .input-checkbox {
        font-size: 13px
    }

    .scrollB {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .input-jiro {
        margin: 0;
        padding: 40px 0 0 0
    }

    .input-label input-label-jiro {
        position: absolute;
        top: 0;
    }

    .input-field-jiro {
        opacity: 1;
        -webkit-transition: none;
        transition: none;
        background-color: #008b44;
        height: 40px;
        padding-left:10px;
    }

    .input-label-jiro {
        height: auto;
        top: 7px
    }

        .input-label-jiro::before, .input-label-jiro::after {
            display: none
        }

    .input-field-jiro:focus + .input-label-jiro, .input-label-content-jiro, .input--filled .input-label-content-jiro {
        -webkit-transform: none !important;
        transform: none !important
    }

    .input-jiro.input-filled {
        margin-top: 0
    }
