﻿@import "partials/_base.scss";
.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    width: 100%;

    a {
        display: inline-block;
        width: 50%;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }
}
#txtphone {
    border: none;
    outline: none;
    padding: 10px;
    border-bottom: 2px solid $color-green-dark;
    width: 50%;
   

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $color-black;
        opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color-black;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $color-black;
    }

    &:focus {
        background: $color-green-dark;
        color: $color-white;

        color:$color-white;
    }
}
.box-login {
    display: flex;
    margin-top: 30px;
    background: $color-orange;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    font-size: 15px;
    color: $color-white;
    span
        {
        display:block;
        width:100%;
    }
}
.txtphoneComfirm {
    border-bottom: 2px solid $color-green-dark;
    color: $color-white;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $color-black;
        opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $color-black;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
        color: $color-black;
    }

    &:focus {
        background: $color-green-dark;
        color: $color-white;

        &:placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $color-white;
            opacity: 1; /* Firefox */
        }

        &::-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $color-white;
        }

        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $color-white;
        }
    }
}
// status

.box-status {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

    .line {
        height: 1px;
        width: 70.5%;
        margin-left: 14px;
        background: $color-gray-dark;
        position: absolute;
        z-index: -999999;
    }
}

// status register
.content-status {
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -10px;
}
.check
{
    color:$color-green-dark;
}
.circle-small
{
    color:$color-gray-dark;
}
.circle-lg {
    color: $color-orange;
    font-size:20px;
}
.item-status
{
    position:absolute;
    z-index:9999;
}
.item-status:nth-child(1) {
    position: absolute;
    z-index: 400;
    left:0;
}
.item-status:nth-child(2) {
    position: absolute;
    z-index: 400;
    left: 20%;
}
.item-status:nth-child(3) {
    position: absolute;
    z-index: 400;
    left: 45%;
    top: -5px;
}
.item-status:nth-child(4) {
    position: absolute;
    z-index: 400;
    right: 20%;
}
.item-status:nth-child(5) {
    position: absolute;
    z-index: 400;
    right: 0%;
}
.step-status
{
    p
        {
        padding:10px 0;
    }
}