﻿@font-face {
  font-family: 'SanFranciscoText-Regular';
  src: url("../../fonts/SanFranciscoText-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'FCBasicFont';
  src: url("../../fonts/FCBasicFont.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../../fonts/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../../fonts/Montserrat-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../../fonts/Montserrat-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Chonburi-Regular';
  src: url("../../fonts/Chonburi-Regular.ttf") format("truetype"); }

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  width: 100%; }
  .form-login a {
    display: inline-block;
    width: 50%;
    text-decoration: none; }
    .form-login a:hover {
      text-decoration: none; }

#txtphone {
  border: none;
  outline: none;
  padding: 10px;
  border-bottom: 2px solid #0e8c45;
  width: 50%; }
  #txtphone::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1;
    /* Firefox */ }
  #txtphone:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000; }
  #txtphone::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000; }
  #txtphone:focus {
    background: #0e8c45;
    color: #fff;
    color: #fff; }

.box-login {
  display: flex;
  margin-top: 30px;
  background: #f7941d;
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  font-size: 15px;
  color: #fff; }
  .box-login span {
    display: block;
    width: 100%; }

.txtphoneComfirm {
  border-bottom: 2px solid #0e8c45;
  color: #fff; }
  .txtphoneComfirm::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1;
    /* Firefox */ }
  .txtphoneComfirm:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000; }
  .txtphoneComfirm::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000; }
  .txtphoneComfirm:focus {
    background: #0e8c45;
    color: #fff; }
    .txtphoneComfirm:focus:placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fff;
      opacity: 1;
      /* Firefox */ }
    .txtphoneComfirm:focus::-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #fff; }
    .txtphoneComfirm:focus::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #fff; }

.box-status {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .box-status .line {
    height: 1px;
    width: 70.5%;
    margin-left: 14px;
    background: #aca69f;
    position: absolute;
    z-index: -999999; }

.content-status {
  width: 80%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -10px; }

.check {
  color: #0e8c45; }

.circle-small {
  color: #aca69f; }

.circle-lg {
  color: #f7941d;
  font-size: 20px; }

.item-status {
  position: absolute;
  z-index: 9999; }

.item-status:nth-child(1) {
  position: absolute;
  z-index: 400;
  left: 0; }

.item-status:nth-child(2) {
  position: absolute;
  z-index: 400;
  left: 20%; }

.item-status:nth-child(3) {
  position: absolute;
  z-index: 400;
  left: 45%;
  top: -5px; }

.item-status:nth-child(4) {
  position: absolute;
  z-index: 400;
  right: 20%; }

.item-status:nth-child(5) {
  position: absolute;
  z-index: 400;
  right: 0%; }

.step-status p {
  padding: 10px 0; }
