﻿@import "partials/_base.scss";

/*#region Fonts */
@font-face {
    font-family: 'NunitoSans-Bold';
    src: url('../../fonts/NunitoSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'NunitoSans-Light';
    src: url('../../fonts/NunitoSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.ttf') format('truetype');
}

.nunito-bold {
    font-family: NunitoSans-Bold;
}

.nunito-light {
    font-family: NunitoSans-Light;
}

.gotham-bold {
    font-family: Gotham-Bold;
}

.gotham-book {
    font-family: Gotham-Book;
}

.san-francisco {
    font-family: 'San Francisco Display';
}
/*#endregion*/

/*#region Colors */
$green-new: #279f46;
$green-new-hover: #52b256;
$green-new-text: #008c44;
$light-gray-text: #77787b;
$yellow-new: #faa61a;

.text-green {
    color: $green-new-text;
}

.text-light-gray {
    color: $light-gray-text;
}

.text--absolute {
    position: absolute;
    top: 0;
    left: 30%;
}
/*#endregion*/

/*#region Page Layout */
.h3__edited {
    font-size: 30px;
}

.h4__edited {
    font-size: 26px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.w-80 {
    width: 80%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
/*#endregion*/

/*#region Modified Homepage */
.wrapper {
    .header-page {
        background-color: $green-new !important;
        max-height: 98px !important;

        .box-logo-pass-menu {
            background: $green-new !important;

            .list-menu-parent {
                font-weight: normal !important;
                font-size: 15px !important;

                li {
                    cursor: pointer;

                    &:hover {
                        background: $green-new-hover !important;
                    }
                }
            }
        }
    }
}

.check-list {
    list-style-image: url('/images/index_v2/check-img-small.png');
    font-size: 16px;

    li {
        padding: {
            top: 5px;
            bottom: 5px;
        }
    }
}

.button__yellow {
    color: $yellow-new;
}

.button--outline {
    border: 1px solid $yellow-new;
    border-radius: 35px;
    background: #fff;
    padding: 10px 60px;
    font-size: 20px;
    font-weight: 700;
}

.button--inline-block {
    display: inline-block;
    margin-left: 30px;
}

.button--short {
    padding: 10px 40px;
}

.button-absolute {
    top: 60px;
    left: 40%;
}

.slider {
    .item {
        @extend .relative;
        cursor: pointer;
        min-height: 350px;
        padding: 20px;

        &:hover {
            background: #f3f4f4;
        }
    }
    .slick-next {
        &:before {
            content: url(../images/index_v2/chevron-right.png) !important;
        }
    }

    .slick-prev {
        &:before {
            content: url(../images/index_v2/chevron-left.png) !important;
        }
    }

    .slick-next, .slick-prev {
        top: 45%;
    }
}

.divider__green {
    border-top: 2px solid $green-new;
    width: 25%;
}

.link__yellow {
    color: $yellow-new;
    border-bottom: 1px solid $yellow-new;
    font-size: 18px;
    bottom: 15px;
    left: 40%;
    @extend .absolute;

    &:hover {
        color: $yellow-new;
        text-decoration: none;
    }
}

.asRange {
    background: #bcbec0 !important;

    .asRange-pointer {
        &::before {
            background: #faa61a !important;
            width: 35px;
        }

        &::after {
            background: #faa61a !important;
        }

        &:focus, &:active {
            outline: none;
        }
    }

    .asRange-selected {
        background: #faa61a !important;
    }
}
/*#endregion*/
