﻿@import "partials/_base.scss";

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body {
    max-width: 100%;
    font-size: 1.4rem;
    overflow-x: hidden;
    font-family: Arial;
    overflow-x: hidden;
    line-height: 1.5;
    font-family: 'Montserrat-Medium';
}
.active-menu {
    background: #52b256;
    opacity: 1;
}
.modal-content {
    background: $color-green-dark;
    color: $color-white;

    h4 {
        text-transform: uppercase;
        color: $color-yellow;
    }

    button {
        background: $color-yellow;
        color: $color-white;

        &:hover {
            background: $color-gray-dark;
            color: $color-black
        }
    }
}

.error {
    border: 1px solid red !important;
}
.box-form {
    margin-top: 66px !important;
}
.row .m-row-pass {
    display: flex;
    justify-content: center;
    align-items: center;
}

//css public
.outer-but {
    input[type="radio"] {
        /*width: 40px !important;*/
        width: 4em !important;
        height: 2em;
    }
}
.box-button a {
    margin: 10px;
}
.color-green-dark {
    color: $color-green-dark;
}
.bg-green-dark {
        background: $color-green-dark;
    }
.color-green-light {
        color: $color-green-light;
    }
.bg-green-light {
        background: $color-green-light;
    }
.color-green-medium {
        color: $color-green-medium;
    }
.bg-green-medium {
        background: $color-green-medium;
    }
.color-orange {
        color: $color-orange;
    }
.bg-orange {
        background: $color-orange;
    }
.color-yellow {
        color: $color-yellow;
    }
.bg-yellow {
        background: $color-yellow;
    }
.active-number {
        background: $color-orange;
        border-radius: 50%;
        color: $color-white !important;
        display: block;
        text-align: center;
    }
.color-gray-dark {
        color: $color-gray-dark;
    }
.color-red
{
    color:red;
}
.text-phone, .text-chat {
        h3 {
            font-size: 1.5rem;
        }
    }
.bg-gray-dark {
    background: $color-gray-dark;
    }
.color-gray-light {
        color: $color-gray-light;
    }
.box-number-form-cs {
    .number-form {
        padding: 3px 10px;
        margin: 15px 0 !important;
        cursor: default;

        /*&:hover {
           
            background: $color-gray-dark;
            border-radius: 50%;
            color: $color-white !important;
            display: block;
            text-align: center;
        }*/
    }
}
.bg-gray-light {
        background: $color-gray-light;
    }
.outer-but {
    display: flex !important;
    align-items: center !important;
}
.none {
    display: none;
}
.block {
        display: block;
    }
.d-flex {
        display: flex;
    }
.d-flex-justcontent {
        justify-content: center;
    }
.line-second {
        width: 20%;
        height: 3px;
        background: $color-green-dark;
        margin: 0 auto;
    }
.panel-1, accordion-1 {
        background: $color-green-type0 !important;
    }
.panel-2, accordion-2 {
        background: $color-green-type1 !important;
    }
.panel-3, accordion-3 {
        background: $color-green-type2 !important;
    }
.box-number-form-cs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .number-form {
            display: block;
            margin: 0;
        }
    }
.colcarou-text {
        color: $color-white;
    }
.colcarou-textbox {
        width: 75% !important;
        text-align: justify;
    }
.dl-margin-form {
        margin-left: 0;
        margin-right: 0;
    }
.img-new {
       

        img {
            width:340px;
            max-width: 100%;
            height:185px;
        }
    }
.img-logo-cs {
    margin-top:20px 0  30px 0;
    img {
        width: auto !important;
        max-width: 100%;
        height: auto !important;
        padding:10px;
    }
    display:flex;
    align-items:flex-end;

    height: 70px !important;
}
.box-item-logo {
    &:hover {
        background: transparent !important;


        .img-new {
            background: transparent !important;
        }
    }

    }
    .slider-new {
        .box-item {
            padding: 10px;
            background: $color-gray-light !important;

            &:hover {
                background: $color-gray-light !important;
                color: $color-white !important;

                .img-new {
                    background: $color-gray-light;
                }

                .content-new {
                    color: $color-white !important;
                }
            }
        }
    }

    .btn-open-reset {
        background: transparent;
        border: 2px solid $color-gray-dark;
        margin-right: 20px;
        padding: 10px 20px;
    }

    .box-number-form {
        span {
            margin: 20px 0;
        }
    }

    .img-step-write {
        .content-step {
            margin-left: -100% !important;
        }
    }
    //video
    .covervid-wrapper video {
        width: 100%;
    }

    .form-otp {
        display: flex;
        justify-content: center;
        margin: 20px;

        .btnotp {
            background: $color-green-dark;
            margin-left: 20px;
            color: $color-white;

            &:hover {
                background: $color-gray-dark;
                color: $color-black;
            }
        }
    }

    .step-controls {
        display: none !important;
    }
    /*#region Fonts */
    @font-face {
        font-family: 'NunitoSans-Bold';
        src: url('../../fonts/NunitoSans-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'NunitoSans-Light';
        src: url('../../fonts/NunitoSans-Light.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Gotham-Bold';
        src: url('../fonts/Gotham-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Gotham-Book';
        src: url('../fonts/Gotham-Book.ttf') format('truetype');
    }

    .nunito-bold {
        font-family: NunitoSans-Bold;
    }

    .nunito-light {
        font-family: NunitoSans-Light;
    }

    .gotham-bold {
        font-family: Gotham-Bold;
    }

    .gotham-book {
        font-family: Gotham-Book;
    }

    .san-francisco {
        font-family: 'San Francisco Display';
    }
.box-checkbox {
    /* This css is for normalizing styles. You can skip this. */
    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .form-group input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    .form-group label {
        position: relative;
        cursor: pointer;
    }

    .form-group label:before {
        content: '';
        -webkit-appearance: none;
        background-color: transparent;
        border: 2px solid $color-green-dark;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 10px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px;
    }

    .form-group input:checked + label:after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 9px;
        width: 6px;
        height: 14px;
        border: solid $color-green-dark;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}
    //css private
.wrapper {
    .header-page {
        width: 100%;
        max-width: 100%;
        min-height: 98px;
        position: relative;
        font-family: 'NunitoSans-Bold';

        .box-logo-pass-menu {
            background: $color-green-dark;
            display: flex;
            align-items: center;
            height: 98px;
            overflow-y: hidden;
            position: fixed;
            top: 0;
            width: 100%;
            max-width: 100%;
            z-index: 999;

            .m-row-pass {
            }

            .list-menu-parent {
                list-style: none;
                display: flex;
                align-items: flex-start;
                height: auto;
                font-weight: bold;
                justify-content: flex-end;

                li {
                    /*padding: 45px 25px;*/
                    animation: effect-menu;

                    a {
                        color: $color-white;
                        text-decoration: none;
                    }

                    &:hover {
                        background: transparent;
                        opacity: 1;
                    }
                }
            }
        }
    }

    @keyframes effect-menu {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }

    .page {
        position: relative;

        .box-banner {


            .img-banner {
                img {
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                }
            }

            .box-content-banner {

                .content-slider {
                    margin-left: 20px;
                    position: absolute;
                    bottom: 20px;

                    span {
                        background: $color-green-dark;
                        color: $color-white;
                        text-transform: uppercase;
                        padding: 5px 0;
                        font-size: 3rem;
                    }

                    .title-highlight {
                        background: $color-orange;
                        text-transform: uppercase;
                    }

                    .note-slider {
                        margin-top: 30px;
                        color: $color-black;
                        font-weight: bold;
                        text-shadow: 2px 2px $color-white;
                        font-size: 2rem;

                        .hightlight {
                            font-size: 4rem;
                        }
                    }
                }

                .img-item-banner {
                    display: flex;
                    justify-content: flex-end;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }

        .box-content-page {
            margin: 20px 0;
            justify-content: center;

            .box-menu {
                .list-menu-page {
                    display: flex;
                    justify-content: flex-start;
                    list-style: none;
                    min-height: 43px;
                    line-height: 43px;

                    li {
                        background: $color-gray-dark;
                        padding: 0 25px;
                        border-bottom: 5px solid $color-gray-light;

                        a {
                            text-transform: uppercase;
                            color: $color-white;
                            font-weight: bold;
                            text-decoration: none;
                        }

                        &:hover {
                            background: $color-green-dark;
                            border-bottom: 5px solid $color-orange;
                        }
                    }
                }
            }
        }



        .step {
            margin-bottom: 60px;

            .title-step {
                text-align: center;
                margin: auto 0;
                margin: 49px 0;
            }

            .grid-container-step {
                display: flex;
                justify-content: space-around;
                align-items: flex-end;

                a {
                    color: $color-black;
                    text-decoration: none;

                    &:hover {
                        h1, h3 {
                            color: $color-orange;
                        }

                        p {
                            color: $color-green-dark;
                        }
                    }
                }

                .number {
                    color: $color-gray-light;
                }
            }
        }

        .box-form {
            .item-form {


                input, select {
                    width: 100%;
                    /*margin: 10px 5px;
                        padding: 10px 5px;*/
                    border: none;
                    border-bottom: 1px solid $color-green-dark;

                    &::-webkit-input-placeholder {
                        color: $color-green-dark;
                    }
                }



                .sl-item {
                    background-image: linear-gradient(45deg, transparent 50%, green 50%), linear-gradient(135deg, green 50%, transparent 50%);
                    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
                    background-size: 10px 5px, 5px 5px, 2.5em 2.5em;
                    background-repeat: no-repeat;
                    /*for firefox*/
                    -moz-appearance: none;
                    /*for chrome*/
                    box-shadow: none;
                    -webkit-appearance: none;
                    appearance: none;
                    color: $color-green-dark !important;
                    background-color: transparent;
                    font-size: 16px !important;
                    font-weight:700 !important;
                }
            }
        }

        .box-button {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .btn-open-card {
                background: $color-gray-light;
                color: $color-white;
                padding: 10px 30px;
                border: none;

                &:hover {
                    background: $color-green-dark;
                }
            }
        }

        .slick-prev {
            &:hover {
                .slick-prev::before {
                    background: #000;
                }
            }
        }

        .slick-prev::before {
            content: url('../images/v2/left.png');
        }

        .slick-next {
            &:hover {
                .slick-next::before {
                    content: url('../images/v2/right.png');
                }
            }
        }

        .slick-next::before {
            content: url('../images/v2/right.png');
        }

        .regular {
            img {
                &:first-child {
                    margin-left: 20px;
                }
            }
        }

        .content-new, .link-read-more {
            padding: 20px;
        }

        .slider-new {
            background: $color-gray-light;

            .box-item {
                display: flex;
                flex-direction: column;
                background: $color-white;
            }
        }

        .slick-dots {
            display: none !important;
        }
    }
    //banner1
    .box-banner1 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 50px 0 70px 0;

        .box-banner-img {
            img {
                width: 100%;
                padding: 30px;
            }
        }
    }

    .box-banner3 {
        .box-banner-img {
            img {
                width: 100%;
                padding: 0px !important;
            }
        }
    }

    .box-banner2 {
        position: relative;

        .box-content-banner2 {
            position: absolute;
            top: 50px;
            right: 10px;
            width: 40%;
        }

        .button-open {
            position: absolute;
            bottom: 30px;
            margin-top: 40px;
            right: 30px;
        }
    }

    .box-content-banner1 {
        margin-right: 100px;
        text-align: justify;
        position: relative;

        .h1-banner {
            font-size: 2rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .button-open {
            position: absolute;
            bottom: 0;
            margin-top: 40px;
            right: 20px;
        }
    }

    .title-endow {
        margin: 36px 0 60px 0;
    }

    .header-footer {


        .content-footer {
            padding: 40px;
        }

        .list-society {
            display: flex;
            justify-content: center;

            img {
                width: 30px;
                height: 30px;
                margin: 5px;
            }
        }
    }

    .telephone, .chat {
        display: flex;
        padding: 0 10px;
        align-items: center;

        img {
            width: 35px;
            height: 35px;
        }
    }

    .number-form {
        font-weight: bold;
        color: $color-gray-dark;
        font-size: 1.5rem;
    }

    .item-form {
        .number-form {
            width: 50px;
            height: 50px;
            background: $color-orange;
            border: 1px solid $color-gray-light;
            border-radius: 50%;
            color: $color-white;
        }
        /*&:hover {
            .number-form {
                width: 50px;
                height: 50px;
                background: $color-orange;
                border-radius: 50%;
                color: $color-white;
            }
        }*/
    }

    .box-item {
        cursor: pointer;

        &:hover {
            color: $color-green-dark !important;
        }
    }

    .img-new {
        background: $color-white;
        padding: 10px;
    }

    .footer-right {
        position: relative;
        display: flex;
        align-items: flex-end;
        min-height: 250px;

        .box-telephone-chat {
            display: flex;
        }
    }

    .box-item-logo {
        display: flex;
        flex-direction: column;
        background: $color-white;
        justify-content: center;
        align-items: center;

        .img-logo-cs img {
            margin: 0 auto;
        }
    }
}
    // css layout new 2
    .ocb-passport {
        border-bottom: 5px solid $color-green-dark;

        .title-passport {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

.grid-container-passport {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: $color-white;

    .item-passport {
        position: relative;

        .img-passport {
            img {
                width: 100%;
                max-width: 100%;
                height: 826px;
            }
        }

        .content-passport {
            position: absolute;
            bottom: 58px;
            left: 43px;
            right: 43px;

            p {
                font-family: 'SanFranciscoText-Regular' !important;
            }

            .title-content-passport {
                margin-bottom: 40px;
                display: block;
            }

            .size-lg {
                font-size: 5rem;
                font-family: 'Gotham-Book';
            }

            .size-mall {
                font-size: 2rem;
                font-family: 'Gotham-Book';
            }

            .more {
                position: absolute;
                right: 0;
            }
        }
    }
}

    .box-event {
        .title-event {
            padding: 50px 0;
        }
    }
    // step 6
.box-step6 {
    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .ct-btn {
        display: flex;
        border: 1px solid $color-gray-light;
        padding: 10px;
        width: 50%;
        border-radius: 20px;
        cursor: pointer;
        margin: 20px 0;

        span {
            padding-left: 20px;
        }
    }

    .box-success-file {
        display: flex;
        justify-content: center;
    }

   
}
 