﻿@font-face {
  font-family: 'SanFranciscoText-Regular';
  src: url("../../fonts/SanFranciscoText-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'FCBasicFont';
  src: url("../../fonts/FCBasicFont.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../../fonts/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../../fonts/Montserrat-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../../fonts/Montserrat-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Chonburi-Regular';
  src: url("../../fonts/Chonburi-Regular.ttf") format("truetype"); }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html body {
  max-width: 100%;
  font-size: 1.4rem;
  overflow-x: hidden;
  font-family: Arial;
  overflow-x: hidden;
  line-height: 1.5;
  font-family: 'Montserrat-Medium'; }

.active-menu {
  background: #52b256;
  opacity: 1; }

.modal-content {
  background: #0e8c45;
  color: #fff; }
  .modal-content h4 {
    text-transform: uppercase;
    color: YELLOW; }
  .modal-content button {
    background: YELLOW;
    color: #fff; }
    .modal-content button:hover {
      background: #aca69f;
      color: #000; }

.error {
  border: 1px solid red !important; }

.box-form {
  margin-top: 66px !important; }

.row .m-row-pass {
  display: flex;
  justify-content: center;
  align-items: center; }

.outer-but input[type="radio"] {
  /*width: 40px !important;*/
  width: 4em !important;
  height: 2em; }

.box-button a {
  margin: 10px; }

.color-green-dark {
  color: #0e8c45; }

.bg-green-dark {
  background: #0e8c45; }

.color-green-light {
  color: #289f46; }

.bg-green-light {
  background: #289f46; }

.color-green-medium {
  color: #158f4a; }

.bg-green-medium {
  background: #158f4a; }

.color-orange {
  color: #f7941d; }

.bg-orange {
  background: #f7941d; }

.color-yellow {
  color: YELLOW; }

.bg-yellow {
  background: YELLOW; }

.active-number {
  background: #f7941d;
  border-radius: 50%;
  color: #fff !important;
  display: block;
  text-align: center; }

.color-gray-dark {
  color: #aca69f; }

.color-red {
  color: red; }

.text-phone h3, .text-chat h3 {
  font-size: 1.5rem; }

.bg-gray-dark {
  background: #aca69f; }

.color-gray-light {
  color: #eee; }

.box-number-form-cs .number-form {
  padding: 3px 10px;
  margin: 15px 0 !important;
  cursor: default;
  /*&:hover {
           
            background: $color-gray-dark;
            border-radius: 50%;
            color: $color-white !important;
            display: block;
            text-align: center;
        }*/ }

.bg-gray-light {
  background: #eee; }

.outer-but {
  display: flex !important;
  align-items: center !important; }

.none {
  display: none; }

.block {
  display: block; }

.d-flex {
  display: flex; }

.d-flex-justcontent {
  justify-content: center; }

.line-second {
  width: 20%;
  height: 3px;
  background: #0e8c45;
  margin: 0 auto; }

.panel-1, accordion-1 {
  background: #49b93c !important; }

.panel-2, accordion-2 {
  background: #158f4a !important; }

.panel-3, accordion-3 {
  background: #a9d43b !important; }

.box-number-form-cs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .box-number-form-cs .number-form {
    display: block;
    margin: 0; }

.colcarou-text {
  color: #fff; }

.colcarou-textbox {
  width: 75% !important;
  text-align: justify; }

.dl-margin-form {
  margin-left: 0;
  margin-right: 0; }

.img-new img {
  width: 340px;
  max-width: 100%;
  height: 185px; }

.img-logo-cs {
  margin-top: 20px 0  30px 0;
  display: flex;
  align-items: flex-end;
  height: 70px !important; }
  .img-logo-cs img {
    width: auto !important;
    max-width: 100%;
    height: auto !important;
    padding: 10px; }

.box-item-logo:hover {
  background: transparent !important; }
  .box-item-logo:hover .img-new {
    background: transparent !important; }

.slider-new .box-item {
  padding: 10px;
  background: #eee !important; }
  .slider-new .box-item:hover {
    background: #eee !important;
    color: #fff !important; }
    .slider-new .box-item:hover .img-new {
      background: #eee; }
    .slider-new .box-item:hover .content-new {
      color: #fff !important; }

.btn-open-reset {
  background: transparent;
  border: 2px solid #aca69f;
  margin-right: 20px;
  padding: 10px 20px; }

.box-number-form span {
  margin: 20px 0; }

.img-step-write .content-step {
  margin-left: -100% !important; }

.covervid-wrapper video {
  width: 100%; }

.form-otp {
  display: flex;
  justify-content: center;
  margin: 20px; }
  .form-otp .btnotp {
    background: #0e8c45;
    margin-left: 20px;
    color: #fff; }
    .form-otp .btnotp:hover {
      background: #aca69f;
      color: #000; }

.step-controls {
  display: none !important; }

/*#region Fonts */
@font-face {
  font-family: 'NunitoSans-Bold';
  src: url("../../fonts/NunitoSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'NunitoSans-Light';
  src: url("../../fonts/NunitoSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book.ttf") format("truetype"); }

.nunito-bold {
  font-family: NunitoSans-Bold; }

.nunito-light {
  font-family: NunitoSans-Light; }

.gotham-bold {
  font-family: Gotham-Bold; }

.gotham-book {
  font-family: Gotham-Book; }

.san-francisco {
  font-family: 'San Francisco Display'; }

.box-checkbox {
  /* This css is for normalizing styles. You can skip this. */ }
  .box-checkbox *, .box-checkbox *:before, .box-checkbox *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0; }
  .box-checkbox .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer; }
  .box-checkbox .form-group label {
    position: relative;
    cursor: pointer; }
  .box-checkbox .form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #0e8c45;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px; }
  .box-checkbox .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #0e8c45;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); }

.wrapper .header-page {
  width: 100%;
  max-width: 100%;
  min-height: 98px;
  position: relative;
  font-family: 'NunitoSans-Bold'; }
  .wrapper .header-page .box-logo-pass-menu {
    background: #0e8c45;
    display: flex;
    align-items: center;
    height: 98px;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100%;
    z-index: 999; }
    .wrapper .header-page .box-logo-pass-menu .list-menu-parent {
      list-style: none;
      display: flex;
      align-items: flex-start;
      height: auto;
      font-weight: bold;
      justify-content: flex-end; }
      .wrapper .header-page .box-logo-pass-menu .list-menu-parent li {
        /*padding: 45px 25px;*/
        animation: effect-menu; }
        .wrapper .header-page .box-logo-pass-menu .list-menu-parent li a {
          color: #fff;
          text-decoration: none; }
        .wrapper .header-page .box-logo-pass-menu .list-menu-parent li:hover {
          background: transparent;
          opacity: 1; }

@keyframes effect-menu {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.wrapper .page {
  position: relative; }
  .wrapper .page .box-banner .img-banner img {
    width: 100%;
    max-width: 100%;
    height: auto; }
  .wrapper .page .box-banner .box-content-banner .content-slider {
    margin-left: 20px;
    position: absolute;
    bottom: 20px; }
    .wrapper .page .box-banner .box-content-banner .content-slider span {
      background: #0e8c45;
      color: #fff;
      text-transform: uppercase;
      padding: 5px 0;
      font-size: 3rem; }
    .wrapper .page .box-banner .box-content-banner .content-slider .title-highlight {
      background: #f7941d;
      text-transform: uppercase; }
    .wrapper .page .box-banner .box-content-banner .content-slider .note-slider {
      margin-top: 30px;
      color: #000;
      font-weight: bold;
      text-shadow: 2px 2px #fff;
      font-size: 2rem; }
      .wrapper .page .box-banner .box-content-banner .content-slider .note-slider .hightlight {
        font-size: 4rem; }
  .wrapper .page .box-banner .box-content-banner .img-item-banner {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0; }
  .wrapper .page .box-content-page {
    margin: 20px 0;
    justify-content: center; }
    .wrapper .page .box-content-page .box-menu .list-menu-page {
      display: flex;
      justify-content: flex-start;
      list-style: none;
      min-height: 43px;
      line-height: 43px; }
      .wrapper .page .box-content-page .box-menu .list-menu-page li {
        background: #aca69f;
        padding: 0 25px;
        border-bottom: 5px solid #eee; }
        .wrapper .page .box-content-page .box-menu .list-menu-page li a {
          text-transform: uppercase;
          color: #fff;
          font-weight: bold;
          text-decoration: none; }
        .wrapper .page .box-content-page .box-menu .list-menu-page li:hover {
          background: #0e8c45;
          border-bottom: 5px solid #f7941d; }
  .wrapper .page .step {
    margin-bottom: 60px; }
    .wrapper .page .step .title-step {
      text-align: center;
      margin: auto 0;
      margin: 49px 0; }
    .wrapper .page .step .grid-container-step {
      display: flex;
      justify-content: space-around;
      align-items: flex-end; }
      .wrapper .page .step .grid-container-step a {
        color: #000;
        text-decoration: none; }
        .wrapper .page .step .grid-container-step a:hover h1, .wrapper .page .step .grid-container-step a:hover h3 {
          color: #f7941d; }
        .wrapper .page .step .grid-container-step a:hover p {
          color: #0e8c45; }
      .wrapper .page .step .grid-container-step .number {
        color: #eee; }
  .wrapper .page .box-form .item-form input, .wrapper .page .box-form .item-form select {
    width: 100%;
    /*margin: 10px 5px;
                        padding: 10px 5px;*/
    border: none;
    border-bottom: 1px solid #0e8c45; }
    .wrapper .page .box-form .item-form input::-webkit-input-placeholder, .wrapper .page .box-form .item-form select::-webkit-input-placeholder {
      color: #0e8c45; }
  .wrapper .page .box-form .item-form .sl-item {
    background-image: linear-gradient(45deg, transparent 50%, green 50%), linear-gradient(135deg, green 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
    background-size: 10px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    color: #0e8c45 !important;
    background-color: transparent;
    font-size: 16px !important;
    font-weight: 700 !important; }
  .wrapper .page .box-button {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .wrapper .page .box-button .btn-open-card {
      background: #eee;
      color: #fff;
      padding: 10px 30px;
      border: none; }
      .wrapper .page .box-button .btn-open-card:hover {
        background: #0e8c45; }
  .wrapper .page .slick-prev:hover .slick-prev::before {
    background: #000; }
  .wrapper .page .slick-prev::before {
    content: url("../images/v2/left.png"); }
  .wrapper .page .slick-next:hover .slick-next::before {
    content: url("../images/v2/right.png"); }
  .wrapper .page .slick-next::before {
    content: url("../images/v2/right.png"); }
  .wrapper .page .regular img:first-child {
    margin-left: 20px; }
  .wrapper .page .content-new, .wrapper .page .link-read-more {
    padding: 20px; }
  .wrapper .page .slider-new {
    background: #eee; }
    .wrapper .page .slider-new .box-item {
      display: flex;
      flex-direction: column;
      background: #fff; }
  .wrapper .page .slick-dots {
    display: none !important; }

.wrapper .box-banner1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 0 70px 0; }
  .wrapper .box-banner1 .box-banner-img img {
    width: 100%;
    padding: 30px; }

.wrapper .box-banner3 .box-banner-img img {
  width: 100%;
  padding: 0px !important; }

.wrapper .box-banner2 {
  position: relative; }
  .wrapper .box-banner2 .box-content-banner2 {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 40%; }
  .wrapper .box-banner2 .button-open {
    position: absolute;
    bottom: 30px;
    margin-top: 40px;
    right: 30px; }

.wrapper .box-content-banner1 {
  margin-right: 100px;
  text-align: justify;
  position: relative; }
  .wrapper .box-content-banner1 .h1-banner {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  .wrapper .box-content-banner1 .button-open {
    position: absolute;
    bottom: 0;
    margin-top: 40px;
    right: 20px; }

.wrapper .title-endow {
  margin: 36px 0 60px 0; }

.wrapper .header-footer .content-footer {
  padding: 40px; }

.wrapper .header-footer .list-society {
  display: flex;
  justify-content: center; }
  .wrapper .header-footer .list-society img {
    width: 30px;
    height: 30px;
    margin: 5px; }

.wrapper .telephone, .wrapper .chat {
  display: flex;
  padding: 0 10px;
  align-items: center; }
  .wrapper .telephone img, .wrapper .chat img {
    width: 35px;
    height: 35px; }

.wrapper .number-form {
  font-weight: bold;
  color: #aca69f;
  font-size: 1.5rem; }

.wrapper .item-form {
  /*&:hover {
            .number-form {
                width: 50px;
                height: 50px;
                background: $color-orange;
                border-radius: 50%;
                color: $color-white;
            }
        }*/ }
  .wrapper .item-form .number-form {
    width: 50px;
    height: 50px;
    background: #f7941d;
    border: 1px solid #eee;
    border-radius: 50%;
    color: #fff; }

.wrapper .box-item {
  cursor: pointer; }
  .wrapper .box-item:hover {
    color: #0e8c45 !important; }

.wrapper .img-new {
  background: #fff;
  padding: 10px; }

.wrapper .footer-right {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 250px; }
  .wrapper .footer-right .box-telephone-chat {
    display: flex; }

.wrapper .box-item-logo {
  display: flex;
  flex-direction: column;
  background: #fff;
  justify-content: center;
  align-items: center; }
  .wrapper .box-item-logo .img-logo-cs img {
    margin: 0 auto; }

.ocb-passport {
  border-bottom: 5px solid #0e8c45; }
  .ocb-passport .title-passport {
    padding-top: 50px;
    padding-bottom: 50px; }

.grid-container-passport {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #fff; }
  .grid-container-passport .item-passport {
    position: relative; }
    .grid-container-passport .item-passport .img-passport img {
      width: 100%;
      max-width: 100%;
      height: 826px; }
    .grid-container-passport .item-passport .content-passport {
      position: absolute;
      bottom: 58px;
      left: 43px;
      right: 43px; }
      .grid-container-passport .item-passport .content-passport p {
        font-family: 'SanFranciscoText-Regular' !important; }
      .grid-container-passport .item-passport .content-passport .title-content-passport {
        margin-bottom: 40px;
        display: block; }
      .grid-container-passport .item-passport .content-passport .size-lg {
        font-size: 5rem;
        font-family: 'Gotham-Book'; }
      .grid-container-passport .item-passport .content-passport .size-mall {
        font-size: 2rem;
        font-family: 'Gotham-Book'; }
      .grid-container-passport .item-passport .content-passport .more {
        position: absolute;
        right: 0; }

.box-event .title-event {
  padding: 50px 0; }

.box-step6 a {
  text-decoration: none; }
  .box-step6 a:hover {
    text-decoration: none; }

.box-step6 .ct-btn {
  display: flex;
  border: 1px solid #eee;
  padding: 10px;
  width: 50%;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px 0; }
  .box-step6 .ct-btn span {
    padding-left: 20px; }

.box-step6 .box-success-file {
  display: flex;
  justify-content: center; }
