﻿@font-face {
  font-family: 'SanFranciscoText-Regular';
  src: url("../../fonts/SanFranciscoText-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'FCBasicFont';
  src: url("../../fonts/FCBasicFont.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../../fonts/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../../fonts/Montserrat-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../../fonts/Montserrat-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Chonburi-Regular';
  src: url("../../fonts/Chonburi-Regular.ttf") format("truetype"); }

/*#region Fonts */
@font-face {
  font-family: 'NunitoSans-Bold';
  src: url("../../fonts/NunitoSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'NunitoSans-Light';
  src: url("../../fonts/NunitoSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book.ttf") format("truetype"); }

.nunito-bold {
  font-family: NunitoSans-Bold; }

.nunito-light {
  font-family: NunitoSans-Light; }

.gotham-bold {
  font-family: Gotham-Bold; }

.gotham-book {
  font-family: Gotham-Book; }

.san-francisco {
  font-family: 'San Francisco Display'; }

/*#endregion*/
/*#region Colors */
.text-green {
  color: #008c44; }

.text-light-gray {
  color: #77787b; }

.text--absolute {
  position: absolute;
  top: 0;
  left: 30%; }

/*#endregion*/
/*#region Page Layout */
.h3__edited {
  font-size: 30px; }

.h4__edited {
  font-size: 26px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-50 {
  margin-top: 50px; }

.w-80 {
  width: 80%; }

.relative, .slider .item {
  position: relative; }

.absolute, .link__yellow {
  position: absolute; }

/*#endregion*/
/*#region Modified Homepage */
.wrapper .header-page {
  background-color: #279f46 !important;
  max-height: 98px !important; }
  .wrapper .header-page .box-logo-pass-menu {
    background: #279f46 !important; }
    .wrapper .header-page .box-logo-pass-menu .list-menu-parent {
      font-weight: normal !important;
      font-size: 15px !important; }
      .wrapper .header-page .box-logo-pass-menu .list-menu-parent li {
        cursor: pointer; }
        .wrapper .header-page .box-logo-pass-menu .list-menu-parent li:hover {
          background: #52b256 !important; }

.check-list {
  list-style-image: url("/images/index_v2/check-img-small.png");
  font-size: 16px; }
  .check-list li {
    padding-top: 5px;
    padding-bottom: 5px; }

.button__yellow {
  color: #faa61a; }

.button--outline {
  border: 1px solid #faa61a;
  border-radius: 35px;
  background: #fff;
  padding: 10px 60px;
  font-size: 20px;
  font-weight: 700; }

.button--inline-block {
  display: inline-block;
  margin-left: 30px; }

.button--short {
  padding: 10px 40px; }

.button-absolute {
  top: 60px;
  left: 40%; }

.slider .item {
  cursor: pointer;
  min-height: 350px;
  padding: 20px; }
  .slider .item:hover {
    background: #f3f4f4; }

.slider .slick-next:before {
  content: url(../images/index_v2/chevron-right.png) !important; }

.slider .slick-prev:before {
  content: url(../images/index_v2/chevron-left.png) !important; }

.slider .slick-next, .slider .slick-prev {
  top: 45%; }

.divider__green {
  border-top: 2px solid #279f46;
  width: 25%; }

.link__yellow {
  color: #faa61a;
  border-bottom: 1px solid #faa61a;
  font-size: 18px;
  bottom: 15px;
  left: 40%; }
  .link__yellow:hover {
    color: #faa61a;
    text-decoration: none; }

.asRange {
  background: #bcbec0 !important; }
  .asRange .asRange-pointer::before {
    background: #faa61a !important;
    width: 35px; }
  .asRange .asRange-pointer::after {
    background: #faa61a !important; }
  .asRange .asRange-pointer:focus, .asRange .asRange-pointer:active {
    outline: none; }
  .asRange .asRange-selected {
    background: #faa61a !important; }

/*#endregion*/
