﻿@charset "UTF-8";
@media screen and (min-width: 240px) {
  .box-deal .grid-container-deal {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 20px; }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-gap: 20px; }
  .content-blog-detail {
    padding: 30px 5px;
    text-align: justify; }
    .content-blog-detail p {
      margin: 20px; } }

/*Iphone(480 x 640)*/
/*Tablet nhỏ(480 x 640)*/
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {
  .box-deal .grid-container-deal {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap: 20px; }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-gap: 20px; }
  .content-blog-detail {
    padding: 30px 100px;
    text-align: justify; }
    .content-blog-detail p {
      margin: 20px; } }

/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {
  .box-deal .grid-container-deal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; } }
