﻿@charset "UTF-8";
@font-face {
  font-family: 'SanFranciscoText-Regular';
  src: url("../../fonts/SanFranciscoText-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'FCBasicFont';
  src: url("../../fonts/FCBasicFont.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../../fonts/Montserrat-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../../fonts/Montserrat-ExtraLight.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../../fonts/Montserrat-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Chonburi-Regular';
  src: url("../../fonts/Chonburi-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Gotham-Book';
  src: url("../fonts/Gotham-Book.ttf") format("truetype"); }

@media screen and (min-width: 240px) {
  .input-text, .input-select, .input-des {
    margin: 0 0 5px 0 !important; }
  .width-td {
    width: 90px; }
  #table-why {
    text-align: center; }
    #table-why td, #table-why th {
      padding: 20px 2px !important; }
  /*.sl-item {
            margin-top: 20px;
            margin-left: 0;
        }*/
  .btn-open, .btn-update {
    color: #fff;
    background-color: #f7941d;
    border-color: #f7941d;
    border-radius: 0 !important;
    padding: 5px 7px !important;
    font-size: 20px; }
  .mainNav ul ul li {
    margin-left: 10px !important;
    position: relative; }
    .mainNav ul ul li:before {
      content: "\f069";
      color: #0e8c45;
      position: absolute;
      font-family: FontAwesome;
      top: 10px;
      font-size: 0.8rem; }
  .box-event .title-event, .title-why {
    padding: 30px 5px; }
    .box-event .title-event h3 span, .title-why h3 span {
      font-size: 2.3rem; }
  .wrapper .box-banner2 .button-open {
    position: absolute;
    bottom: 0;
    margin-top: 40px;
    right: 10%; }
  h3 {
    font-size: 2.5rem; }
  .list-menu-parent li {
    width: 100%;
    border-bottom: 1px solid rgba(226, 234, 0, 0.3); }
    .list-menu-parent li:last-child {
      border-bottom: none; }
  .box-form {
    margin-top: 40px !important; }
  span.line:after {
    content: "-------";
    color: green;
    font-size: 2rem; }
  .grid-container-partner {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    align-items: flex-end;
    justify-items: center;
    grid-gap: 20px; }
  .box-number-form-cs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .box-number-form-cs .number-form {
      display: block;
      margin: 10px;
      border: 1px solid #eee !important;
      border-radius: 50%; }
  .item-form .number-form {
    width: 50px;
    height: 50px;
    background: #f7941d;
    border-radius: 50%;
    color: #fff; }
  .box-question {
    padding: 0;
    margin: 0; }
    .box-question .col-xs-12 {
      /*padding:5px;*/
      margin: 0; }
      .box-question .col-xs-12 .row {
        margin: 0; }
  .wrapper .page .box-form .item-form {
    margin: 0; }
  .wrapper .header-page .box-logo-pass-menu {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wrapper .header-page .box-logo-pass-menu .img-logo, .wrapper .header-page .box-logo-pass-menu .img-pass {
      padding: 10px 0 5px 0; }
    .wrapper .header-page .box-logo-pass-menu .img-logo img {
      margin: 0 auto;
      /*width: 150px !important;
                    height: 30px !important;*/ }
    .wrapper .header-page .box-logo-pass-menu .img-pass img {
      width: auto !important;
      height: auto !important; }
  .list-menu-parent {
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.4s ease-in-out;
    margin-top: 10px; }
    .list-menu-parent li {
      padding: 15px 2px !important; }
  .icon-bar-mobile {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 2rem;
    color: #fff; }
  .box-card-two-second {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .list-menu-page {
    flex-direction: column;
    list-style: none; }
  .ico-card {
    width: 55px !important; }
  .wrapper .page .box-content-page .two-second {
    margin: 49px 0; }
  .wrapper .page .step .title-step {
    margin: 20px 0; }
  .two-second-mobile {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .box-number-form {
    margin-bottom: 20px; }
  .dl-m-col {
    padding: 0; }
  .grid-container-step {
    display: flex;
    flex-direction: row;
    align-items: flex-start !important;
    justify-content: space-between; }
    .grid-container-step .item-step-1, .grid-container-step .item-step-2, .grid-container-step .item-step-3 {
      text-align: center; }
      .grid-container-step .item-step-1 img, .grid-container-step .item-step-2 img, .grid-container-step .item-step-3 img {
        width: 100%; }
      .grid-container-step .item-step-1 h1, .grid-container-step .item-step-2 h1, .grid-container-step .item-step-3 h1 {
        font-size: 1.2rem; }
      .grid-container-step .item-step-1 h3, .grid-container-step .item-step-1 p, .grid-container-step .item-step-2 h3, .grid-container-step .item-step-2 p, .grid-container-step .item-step-3 h3, .grid-container-step .item-step-3 p {
        font-size: 1rem; }
  .wrapper .header-footer .content-footer {
    margin-top: 40px; }
  .wrapper .footer-right {
    flex-direction: column;
    min-height: 0 !important;
    padding: 10px; }
  .slick-next {
    right: 25px; }
  .slick-prev {
    left: 25px;
    z-index: 10; }
  .wrapper .page .regular img:first-child {
    margin-left: 0; }
  .wrapper .page .box-button {
    display: flex;
    justify-content: center;
    margin-top: 66px;
    margin-bottom: 45px;
    margin-right: 0 !important; }
  .wrapper .header-page {
    min-height: 50px; }
  .step {
    margin-bottom: 10px !important; }
  .two-second {
    margin: 40px 0 !important; }
    .two-second .content-two-second {
      text-align: center;
      margin-left: 10px; }
  .box-banner1 {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr) !important;
    margin: 50px 0 70px 0; }
    .box-banner1 .box-banner-img img {
      width: 100%;
      padding: 30px; }
  .box-content-banner1 {
    margin-right: 0 !important;
    padding: 30px;
    text-align: justify;
    position: relative; }
    .box-content-banner1 .h1-banner {
      font-size: 2rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    .box-content-banner1 .button-open {
      position: absolute;
      right: 20px; }
  .box-banner2 {
    position: relative; }
    .box-banner2 .box-content-banner2 {
      position: static !important;
      top: 50%;
      right: 0;
      width: 100% !important; }
  .grid-container-passport {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    color: #fff; }
    .grid-container-passport .item-passport {
      position: relative; }
      .grid-container-passport .item-passport .img-passport img {
        width: 100%;
        max-width: 100%;
        height: auto; }
      .grid-container-passport .item-passport .content-passport {
        position: absolute;
        bottom: 58px;
        left: 43px;
        right: 43px; }
        .grid-container-passport .item-passport .content-passport .title-content-passport {
          margin-bottom: 40px;
          display: block; }
        .grid-container-passport .item-passport .content-passport .size-lg {
          font-size: 3rem;
          font-family: 'Gotham-Book'; }
        .grid-container-passport .item-passport .content-passport .size-mall {
          font-size: 2rem;
          font-family: 'Gotham-Book'; }
        .grid-container-passport .item-passport .content-passport .more {
          position: absolute;
          right: 0; } }

/*Iphone(480 x 640)*/
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {
  h3 {
    font-size: 1.8rem; }
  .box-form {
    margin-top: 40px !important; }
  span.line:after {
    content: "- - - - - -";
    color: green;
    font-size: 2rem; }
  .box-number-form-cs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .box-number-form-cs .number-form {
      display: block;
      margin: 10px;
      border: 1px solid #eee !important;
      border-radius: 50%; }
  .item-form .number-form {
    width: 50px;
    height: 50px;
    background: #f7941d;
    border-radius: 50%;
    color: #fff; }
  .box-question {
    padding: 0;
    margin: 0; } }

/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {
  .list-menu-parent {
    display: none; }
  .mainNav ul ul li {
    margin-left: 7rem !important;
    position: relative; }
    .mainNav ul ul li:before {
      content: "\f069";
      color: #0e8c45;
      position: absolute;
      font-family: FontAwesome;
      top: 10px;
      font-size: 0.8rem; }
  .ico-card {
    width: auto !important; }
  .modal-dialog {
    width: 600px !important;
    margin: 30px auto; }
  .wrapper .box-banner2 .button-open {
    position: absolute;
    bottom: 100px !important;
    margin-top: 40px;
    right: 10%; }
  .wrapper .box-content-banner1 .button-open {
    position: absolute;
    bottom: 100px !important;
    margin-top: 40px;
    right: 0; }
  .wrapper .box-content-banner1 {
    margin-right: 100px !important; }
  .wrapper .box-banner2 .box-content-banner2 {
    position: absolute !important;
    top: 50px;
    right: 10px;
    width: 40% !important; }
  .wrapper .box-banner1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important; }
  h3 {
    font-size: 2.4rem; }
  .img-logo img {
    margin: 0 auto;
    /*width: 251px !important;
            height: 52px !important;*/ }
  .wrapper .header-page .box-logo-pass-menu {
    height: 98px;
    flex-direction: row !important; }
    .wrapper .header-page .box-logo-pass-menu .img-logo, .wrapper .header-page .box-logo-pass-menu .img-pass {
      padding: 20px 0; }
      .wrapper .header-page .box-logo-pass-menu .img-logo img, .wrapper .header-page .box-logo-pass-menu .img-pass img {
        margin: 0 auto; }
    .wrapper .header-page .box-logo-pass-menu .list-menu-parent {
      display: flex;
      flex-direction: row !important; }
      .wrapper .header-page .box-logo-pass-menu .list-menu-parent li {
        padding: 45px 25px !important; }
        .wrapper .header-page .box-logo-pass-menu .list-menu-parent li a {
          color: #fff;
          text-decoration: none; }
        .wrapper .header-page .box-logo-pass-menu .list-menu-parent li:hover {
          background: #289f46; }
  .list-menu-page {
    flex-direction: row !important; }
  .two-second-mobile {
    flex-direction: row !important;
    align-items: center;
    text-align: center; }
  .grid-container-step {
    display: flex;
    flex-direction: row !important;
    align-items: center; }
    .grid-container-step .item-step-1, .grid-container-step .item-step-2, .grid-container-step .item-step-3 {
      text-align: center;
      margin: 10px 0; }
      .grid-container-step .item-step-1 img, .grid-container-step .item-step-2 img, .grid-container-step .item-step-3 img {
        transform: rotate(0deg);
        padding: 10px 0;
        width: auto !important; }
      .grid-container-step .item-step-1 h1, .grid-container-step .item-step-2 h1, .grid-container-step .item-step-3 h1 {
        font-size: 2.4rem; }
      .grid-container-step .item-step-1 h3, .grid-container-step .item-step-1 p, .grid-container-step .item-step-2 h3, .grid-container-step .item-step-2 p, .grid-container-step .item-step-3 h3, .grid-container-step .item-step-3 p {
        font-size: 1.8rem; }
  .slick-next {
    right: -25px; }
  .slick-prev {
    left: -25px;
    z-index: 10; }
  .box-card-two-second {
    flex-direction: row !important;
    align-items: center;
    text-align: center; }
  .box-number-form-cs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .box-number-form-cs .number-form {
      display: block;
      margin: 0px; }
  span.line:after {
    content: "---------";
    color: green;
    font-size: 2rem;
    width: 100%;
    height: 1px; }
  .number-form {
    border: 1px solid gray !important;
    padding: 10px 20px !important;
    border-radius: 50% !important;
    width: 50px; }
  .list-menu-parent li {
    width: auto; }
  .grid-container-passport {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #fff; }
    .grid-container-passport .item-passport {
      position: relative; }
      .grid-container-passport .item-passport .img-passport img {
        width: 100%;
        max-width: 100%;
        height: 822px; }
      .grid-container-passport .item-passport .content-passport {
        position: absolute;
        bottom: 58px;
        left: 43px;
        right: 43px; }
        .grid-container-passport .item-passport .content-passport .title-content-passport {
          margin-bottom: 40px;
          display: block; }
        .grid-container-passport .item-passport .content-passport .size-lg {
          font-size: 5rem;
          font-family: 'Gotham-Book'; }
        .grid-container-passport .item-passport .content-passport .size-mall {
          font-size: 2rem;
          font-family: 'Gotham-Book'; }
        .grid-container-passport .item-passport .content-passport .more {
          position: absolute;
          right: 0; }
  .box-button {
    display: flex;
    justify-content: flex-end !important;
    align-items: center; }
  .width-td {
    width: 250px; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .wrapper .header-page .box-logo-pass-menu .list-menu-parent li {
    padding: 45px 15px !important;
    font-size: 11px; }
  /*.list-menu-parent
    {
        display:none !important;
    }
    .icon-bar-mobile
    {
        display:block !important;
    }*/ }

/*Ipad ngang(1024 x 768)*/
