.colcarou-item {
    background: rgba(21, 21, 21, 1);
}
.colcarou-item.inactive:hover {
    background: rgba(40, 40, 40, 1);
}
.colcarou-item h4 {
}
.colcarou-image {
    opacity:.4;
}
.colcarou-textbox {
    color: white;
}
.colcarou-textbox p {
    font-size : 16px;
}
.colcarou-item.active h4 {
    font-size: 5vw;
}
.colcarou-text {
    padding-bottom : 20px;
}
.colcarou-button {
     color: white;
     background-color: #e60027;
     font-size: 16px;
     line-height: 16px;
     padding: 20px;
 }
.colcarou-button:hover {
    background-color: #cd0027;
}
@media(max-width : 800px){
    .colcarou-item.active h4 {
        font-size: 10vw;
    }
}